[2017-05-31 17:22] saadq opened #6 "Allow user to choose the order of the sections"
Right now the order is:

1. Profile
2. Education
3. Experience
4. Skills
5. Projects
6. Awards

A lot of the LaTeX templates are dependent on having the profile section be at the top. However, it should be possible to allow 2 -> 6 to be reordered.

[2017-05-31 19:52] kmahar opened #7 "arrows for going to next section"
at first I didn't understand that I needed to click the next section in the menu bar after selecting a template and I just kept repeatedly clicking the template name expecting it to go through to the next section. it might be nice to have arrows on each section (maybe bottom right of window?) to make this flow easier.

[2017-05-31 19:56] kmahar opened #8 "let user save their data"
another suggestion - would love feature to save online what I've filled out so that I can come back to it later on and add new stuff using your interface. I imagine that this would especially be useful for people who don't know latex and don't want to edit the downloaded source themselves

[2017-05-31 20:37] gautamkrishnar commented on #8
I think using browser's local storage is a better option than saving in the server. If you have resources, you can consider saving user data in the server. 😄

[2017-05-31 20:40] saadq commented on #8
This is something I was planning on implementing. I'd rather not use up server resources, but I was thinking something along the lines of importing/exporting your current resume data as JSON. That way you won't have any local storage issues if you clear your data.

[2017-06-01 06:06] AgrawalAman opened #9 "Overflowing text in Skills"
The text in skills section overflows in template 1

[2017-06-01 06:09] AgrawalAman commented on #8
JSON format seems a great idea, would be easily editable for developers to add bullets, change stuff, etc manually as well.

[2017-06-01 06:33] saadq commented on #9
Thanks, do you have a screenshot by any chance?

[2017-06-01 07:26] themotu commented on #8
Yaml or Toml might be easier if people want to edit/read it directly

[2017-06-01 07:32] AgrawalAman commented on #9
<img width="1204" alt="screen shot 2017-06-01 at 3 31 07 am" src="https://cloud.githubusercontent.com/assets/20717996/26669177/e00d68b4-467a-11e7-9553-35ca6bf0bc30.png">
 Here you go

[2017-06-01 17:10] AgrawalAman commented on #6
Also allow users to rename the sections, Add Sections

[2017-06-01 17:16] shabad opened #10 "Allow users to make a custom template"
Let users create custom templates, and make those templates available to other users as well.

[2017-06-01 22:06] saadq commented on #6
I can allow users to rename the sections, however allowing the user to add sections is probably beyond the scope of this project. A lot of the templates require specific LaTeX code for each section and allowing users to add a section would be very hard to manage. Would their section be a list view? Paragraph view? It's all dependent on the template so it would be hard to implement.

[2017-06-01 22:11] saadq commented on #10
Something like this is probably out of the scope for this project as it would require the need to have a built in LaTeX editor as well as functionality for uploading all the files and assets needed for the template.

Instead, I think it might be a good idea to allow people to open `Template Request` issues with a screenshot and LaTeX code needed for the template in which case I could implement tha

[2017-06-01 22:13] saadq commented on #7
This is especially important for mobile. It seems like a lot of people didn't realize you had to click on the menu at the top right to switch sections when in mobile view.

[2017-06-01 22:13] saadq opened #11 "Improve contrast"
Some of the dark text on the dark background is hard to read. Need to lighten up the colors.

[2017-06-02 04:25] paultopia opened #12 "Source code display doesn't work on iOS"
It looks like you're providing binary data of some kind in response to the generate source button. In mobile safari, I get a binary file with a URL like `blob:https://latexresu.me/a833e5be-1f05-46b5-b1c6-b445d5ad6082` --- shouldn't it just be a plain text .tex file?

Actually, poking around, I see that [the very last commit](https://github.com/saadq/latexresu.me/commit/8c4bfdd28239cfc3227fb73f9127

[2017-06-02 05:16] saadq commented on #12
So the <kbd>PDF</kbd> and <kbd>Source</kbd> buttons are actually supposed to trigger a download the PDF or Source code. Depending on the template, the source code download will either be a zip containing a `.tex` (for example, template1) file or a zip containing the `.tex` file as well as assets needed (for example, template2).

This seems to be more of a Safari issue instead of an iOS issue. I be

[2017-06-02 05:31] paultopia commented on #12
Aaah.  You know, that sounds familiar, now that you mention it.  I recall reading other sites with safari workarounds for download links.  Apparently it doesn't implement the href download attribute or some such.  According to [caniuse](http://caniuse.com/download/embed/description), no version of iOS safari supports, though at least it currently works on OSX Safari.  See also [notes from filesave

[2017-06-02 05:34] saadq commented on #12
To download the PDF, I'm using an [`<a>` tag with a `download`](https://github.com/saadq/latexresu.me/blob/master/app/client/src/components/sections/Preview.js#L62) attribute which seems to not be supported in Safari.

The problem with downloading the source code I believe is stemming from the fact that I am trying to [download the source](https://github.com/saadq/latexresu.me/blob/master/app/clie

[2017-06-02 05:38] saadq commented on #12
@paultopia I think I can get it working in iOS/Safari if I try out the plan I mentioned above, otherwise I'll prob end up doing as you suggested.

[2017-06-02 05:41] #10 closed

[2017-06-02 07:25] saadq commented on #12
Note to self: [this](https://stackoverflow.com/a/36075562/4033215) might be a good reference.

[2017-06-02 11:23] lovasoa commented on #8
###  [JSON Resume](https://jsonresume.org/)

It would be great if it could import/export resumes in the [jsonresume](https://jsonresume.org/) format.

[2017-06-02 14:53] hermanzdosilovic opened #13 "International language support"
Hi @saadq, great project! :smile:

I found that some letters, for example `ČĆŽŠĐčćžšđ`, are not displayed properly.

Regards,
Herman

[2017-06-02 23:57] Rob4001 opened #14 "LinkedIn Integration"
Hey,
Love what you are doing, It would be brilliant if you could integrate with the LinkedIn API to automatically pull data from your profile. https://developer.linkedin.com/docs

[2017-06-03 03:34] mintisan commented on #13
And can't display Chinese for now.

[2017-06-03 06:57] uttara-cmu opened #15 "Add Research & Publications"
Love this website. It would be great to add Research and Publication section. I can download the source code and add this but will be incredibly convenient to have it on the website.

[2017-06-03 11:26] fszcze opened #16 "Add word doc option"
A majority of resume scanning software does not recognize PDFs. You have greater odds of being contacted back if you use a Word doc format.

[2017-06-03 11:46] saadq commented on #16
Hey @fszcze thanks for raising this issue. Unfortunately, using LaTeX only allows you to get a PDF or DVI output.  Converting from PDF to Word is beyond the scope of the project itself, however you may want to look into using other solutions like https://www.pdftoword.com/. Hope you understand.

[2017-06-03 11:46] #16 closed

[2017-06-03 12:34] saadq commented on #13
Hey @mintisan could you provide a couple of example input characters so that I can test that out as well?

[2017-06-03 15:59] 2018sjain opened #18 "Award Details copied twice into the final document"
For example, if I put "asdf" in Award Details, it shows up as "asdfasdf" in the Preview Resume tab underneath the award.

[2017-06-03 23:59] saadq commented on #18
Which template did this happen with?

[2017-06-04 00:57] 2018sjain commented on #18
The first template. Here are some images showing the problem.
![image](https://cloud.githubusercontent.com/assets/17102303/26758017/49583b2a-489f-11e7-8fd0-1a0b35a96e6d.png)
![image](https://cloud.githubusercontent.com/assets/17102303/26758018/51d8dcf0-489f-11e7-9764-194f5abaa985.png)

[2017-06-04 01:07] saadq commented on #18
Thanks for finding this issue! I'll push out a fix asap.

[2017-06-04 01:11] #18 closed

[2017-06-04 16:06] TheHolyWaffle opened #19 "Incorrect splitting full name"
Under profile, enter the following full name: "Bert De Geyter" and select template 2.

Result: only "Geyter" is bold

Expected Result: "De Geyter" should be bold

[2017-06-04 17:21] psjay commented on #13
+1

 Hope It can support CJK

[2017-06-04 23:41] saadq commented on #19
Hmm, this had actually been intentional but I suppose it would make more sense to bold everything except the first name.

[2017-06-05 03:52] aviral1701 commented on #19
@saadq
Hey!
 I would like to work on this issue and fix it. Should I do it?

[2017-06-05 03:57] saadq commented on #19
Hey @aviral1701, I would be very happy to accept your contribution. The source code for generating each template is available [here](https://github.com/saadq/latexresu.me/tree/master/app/server/src/generator/templates). You'll want to look at the `generateProfileSection` function for each template. I believe only a few templates actually need to splite the name, so you'll only need to modify a cou

[2017-06-05 03:59] aviral1701 commented on #19
@saadq  Thanks man! I'm on it!

[2017-06-05 04:06] saadq commented on #19
As a sidenote, I just pushed a small commit to fix some styling in the top bar, so just remember to `git pull` at some point to get the changes I just pushed :)

[2017-06-05 08:38] TheHolyWaffle commented on #19
Maybe giving the user the option to enter his first and last name separately makes more sense instead of making a guess on how to split the full name.

[2017-06-05 08:50] saadq commented on #19
I was originally going with that, but I thought it might be a bit confusing for people with middle names. They may think they would have to omit it. Unless I also added a middle name field, but I figured it would just be easier for the user to type it all in one place and easier for myself as well so I wouldn't have to add a bunch more if checks for each part of the name (since every field needs t

[2017-06-05 12:56] #19 closed

[2017-06-06 00:41] Wesley-Chan commented on #13
@saadq Here are some characters you can use.
Traditional Chinese: 國際語言支持
Simplified Chinese: 国际语言支持

I'm not sure how people display Chinese character with `pdflatex`. I use `xelatex` but it's not compatible with `microtype`, which is used in this project.

[2017-06-06 01:24] saadq commented on #13
Some of the templates use `pdflatex`, some use `xelatex`, and some are using `lualatex`. I believe I've got this issue fixed for the `pdflatex` templates by setting the encoding correctly in each template, but I need to play around with the other templates a bit more.

[2017-06-06 04:42] saadq opened #22 "Allow users to choose their own name for section headings"
Section headings like `Profile`, `Education`, etc shouldn't be enforced by the generator. Some users may want to call it something else, or they may be using a language that is not English.

[2017-06-06 13:27] enzokarate commented on #8
I further support json IO of stuff.

[2017-06-06 14:42] #7 closed

[2017-06-06 14:43] saadq commented on #7
Section navigation with arrows has been added now, please feel free to reopen this issue if there's still any problems!

[2017-06-10 01:38] jacobjinkelly opened #24 "'S' in Skills should not be capitalized (Template 6)"
'skills' should be all lowercase to match the rest of section headers. See image.
![screen shot 2017-06-09 at 9 36 42 pm](https://user-images.githubusercontent.com/16728917/26998957-cbe67b40-4d5b-11e7-817a-d7376f7a107f.png)

[2017-06-10 03:49] saadq commented on #24
Thanks for finding this issue! Would you like to submit a pull request and fix the casing over [here](https://github.com/saadq/latexresu.me/blob/master/app/server/src/generator/templates/template6/index.js#L146)?

[2017-06-10 05:51] #24 closed

[2017-06-11 13:40] mbtamuli opened #26 "Source Download not working locally"
After running
[code]
the local server starts. Even the PDF download works. But downloading the Source shows error.

On chrome dev tools console,
[code]
On the terminal,
[code]

[2017-06-11 15:58] saadq commented on #26
Hey @mbtamuli, thanks for reporting an issue. I have a few questions if you don't mind answering:

1. Which OS are you on?
2. Which browser(s) are you using?
3. Which template(s) are you using?
4. Does <kbd>Download Source</kbd> work when using the actual [latexresu.me](https://latexresu.me) website instead of the local app?

[2017-06-11 15:59] saadq commented on #26
Also just out of curiosity, what happens when you run `npm test` in the root directory of the project?

[2017-06-11 18:10] mbtamuli commented on #26
Sure. Happy to help solve the issue.

1. I'm using Ubuntu 17.04
2. I'm using Google Chrome 58.0.3029.110
3. I tried using Template 6.
4. Yes, `Download Source` works when using the [latexresu.me](https://latexresu.me/) site.

Output of running `npm test`
[code]

[2017-06-11 18:17] saadq commented on #26
Oh, one other question – What version of `node` are you using?

If you're using Node version 8, I think the issue is coming from [here](https://github.com/archiverjs/node-archiver/issues/236). It seems `node-archiver` (the module I'm using to generate a ZIP) is having some issues in the latest version of Node.

[2017-06-11 18:22] mbtamuli commented on #26
[code]
Yes, I'm using node version 8. Checking with the current LTS version(6.11.0). Will update here once I try.

[2017-06-11 18:59] mbtamuli commented on #26
This time,
[code]

I still get warnings and errors, albeit different ones.
[code]

[code]

This time, even PDF was not created. Please let me know which version of node you are using so I can try that.

[2017-06-11 19:05] saadq commented on #26
Yeah, the app is going to require a version of Node that is at least **v7.6** because I'm using `async/await` in my code. So you can try anywhere from 7.6 and above. So try for something v7.6 or above. 8.0 obviously has issues, but if you switch to 8.1, I believe that should work as well as mentioned in my edit above.

[2017-06-11 19:35] mbtamuli commented on #26
Yes it works with 8.1.0, checked. Thanks. Maybe you could mention this on the README if possible.

[2017-06-11 19:45] saadq commented on #26
Yep, I'll update the README soon to tell people to avoid v8.0.0 or anything below 7.6.

As for the test failure, you might be using an older version of latexresu.me. I pushed a commit several days ago [here](https://github.com/saadq/latexresu.me/commit/8fcdb9b268ce6d3e813867003e7b7604ba7fb594) that fixed the test. Try running `git pull` and see if the test passes now.

[2017-06-11 21:59] #26 closed

[2017-06-25 08:19] dnl-blkv opened #27 "Product - add an alternative domain"
How to Reproduce
------------------
1. Try to recall the latexresu.me domain name.

What Should Happen
---------------------
1. The domain name is easy to remember/recall, especially for non-tech people: tech people can use LaTeX themselves.

What Happens
---------------
1. The domain name is quite technical (features underlying technology name), and recalling it is a bit of a counterintuitive tas

[2017-06-26 18:58] saadq commented on #27
This is a good idea. Because this is an app that is supposed to cater to everyone (not just tech people), it would probably be better to keep the `LaTeX` part as an implementation detail, and then just market it as an all-purpose Resume Generator.

I like all 3 of the domain names you suggested, maybe we could treat this issue as a poll and it would be great if people could vote on the following o

[2017-06-26 19:16] dnl-blkv commented on #27
My vote is for for `buildresu.me`. The reasoning behind that is that the site allows to _build_ resume from pre-defined blocks which were _created_ by someone else :)

[2017-07-17 04:11] saadq opened #28 "Using ZenHub"
Hola! @saadq has created a [ZenHub](http://www.zenhub.com) account for the **saadq** organization. ZenHub is the only project management tool integrated natively in GitHub – created specifically for fast-moving, software-driven teams.

----

#### How do I use ZenHub?

To get set up with ZenHub, all you have to do is **[download the browser extension](https://www.zenhub.com?utm_source=ZHOnboarding)

[2017-07-17 04:13] saadq commented on #28
If anyone is interested in contributing to `latexresu.me`, I recommend installing the ZenHub extension, as that is what I'll be using to manage the project. I haven't been that active on this project for awhile, but I plan to start fixing the remaining issues and adding features quite soon.

[2017-07-19 22:13] saadq commented on #28
On second thought, I'm just going to go with using [GitHub Projects](https://github.com/saadq/latexresu.me/projects) as it's an already built-in feature. Anyone who wants to see a high level overview of what is being worked on can go check that out. I've been busy with summer classes for awhile, but as they start winding down I'll be able to put more time into continuing the development of this pr

[2017-07-19 22:13] #28 closed

[2017-07-24 15:51] aviral1701 opened #29 "Trouble with node and npm"
Hi
As suggested by you I was trying to get node and npm working so that I can continue to contribute to your project.But I am facing errors and can't seem to find a way out.Can you help me out please?

node --version
v8.1.4
sudo npm --version
5.0.3
**Steps that I follow :**
1. clone the repo
2. go to the directory and run "npm install".
3.run "npm run lint"
**throws out this:**

sh: 1: blyss: not

[2017-07-24 20:21] saadq commented on #29
Hey @aviral1701, glad to hear you're still interested in contributing!

I may have incorrectly described the setup, so let me fix that. When you run `npm install`, it basically installs all the `dependencies` and `devDependencies` that are listed in the `package.json` file. The `package.json` file in the root directory of the project has no dependencies, but you can find the actual client dependen

[2017-07-25 05:02] aviral1701 commented on #29
@saadq Got it working.Thanks for all the help and such elaborative explanation, really helpful!
I'm closing this issue.

[2017-07-25 05:02] #29 closed

[2017-07-25 05:05] aviral1701 commented on #15
@saadq Can I work on it?

[2017-07-27 07:41] aviral1701 commented on #15
@saadq Any updates?

[2017-07-29 03:20] saadq commented on #15
Hi @aviral1701, sorry for the delay I've been a bit busy with real life stuff. Sure, feel free to tackle this one.

[2017-07-29 15:07] shivakrishna9 commented on #27
I vote for latexresu.me only because, I am able to discover this by searching by keyword `latex` .
Thank you for the amazing app.

[2017-07-30 06:49] tushgup commented on #8
Yes! I'm trying to make a change in my resume but I can't figure out how to convert it back to PDF now. :/

[2017-07-30 10:23] aviral1701 commented on #15
@saadq No worries! Any word of advice for this one?

[2017-08-08 06:34] saadq commented on #15
Hey @aviral1701. I'm very sorry for the long wait for my response. I've been having a lot going on (summer classes, part time work, brother's wedding) so I've been completely preoccupied. I most likely will not be very active in open-source stuff for about another 2 weeks.

After thinking about it, this issue is actually a pretty big amount of work. You would need to know React/Redux, adding a com

[2017-08-15 12:28] saadq opened #30 "Use styled-components"
Right now, the website is just using global styles which are imported directly into the React components (this was before I knew css-modules were  a thing). Rather than switching to css-modules though, the concept of `styled-components` looks interesting as it allows a component to be very self-contained.

Will probaby switch over to using `styled-components` incrementally.

[2017-08-15 12:31] saadq opened #31 "Use flowtype"
Gradually add types to the codebase. I like the way Flow does things a bit more than TypeScript, so I'll probably go with that. Similar to #30, this will also be done incrementally.

[2017-08-15 12:44] saadq opened #32 "improve readability of font colors"
Some of the font color choices could be improved to look nicer and be easier to see

[2017-08-15 12:48] saadq opened #33 "fix inconsistency in logo on home screen and the main app screen"
On the home screen the "M" looks like this:

<img width="370" alt="screen shot 2017-08-15 at 8 46 14 am" src="https://user-images.githubusercontent.com/5678694/29316504-4856682a-8196-11e7-9e0e-053a3127091f.png">

On the main generator screen, it looks like this:

<img width="276" alt="screen shot 2017-08-15 at 8 46 36 am" src="https://user-images.githubusercontent.com/5678694/29316520-5239f96a-819

[2017-09-15 11:04] bonebizz21 commented on #33
Thanks

[2017-09-15 11:05] bonebizz21 commented on #13
Yea

[2017-09-21 06:46] saadq commented on #33
Fixed in #34, thanks @TsimpDim!

[2017-09-21 06:46] #33 closed

[2017-09-30 21:29] MatheusRV commented on #14
How can i help to do this integration?

[2017-10-03 17:24] MatheusRV commented on #13
and how about i18n?

[2017-11-21 22:24] saadq commented on #27
Hey all, I know it's been a crazy long amount of time, but I have been working on a new version of the site. There are still a lot of things that need to be done, but the new name of the webapp is `Resumake`, so I thought `makeresu.me` would be the most appropriate domain. Thanks for all the feedback!

The new version already has importing/exporting the resume as JSON (compatible with `JSONResume`

[2017-11-21 22:31] saadq commented on #8
Hey all, I know this is insanely late, but the [new](https://github.com/saadq/latexresu.me/tree/new) branch saves your session as well as letting you import/export your resume as JSON (compatible with JSON resume). Looking forward to releasing this new version soon.

[2017-11-21 22:33] saadq commented on #13
Hey all, I've been working on the resume generator's second version for awhile now. The new version will hopefully have multilanguage support and I will be planning to add i18n to allow the site to work in different languages and such. Looking forward to sharing the new version with you all very soon!

[2017-11-30 23:41] daniel-afana opened #35 "TILDE character ~ is replaced with SMALL TILDE ˜"
The user puts a tilde ~ in any field in any section, then it always gets replaced with a small tilde ˜ when the user makes a preview.
It's important, because, for instance, Upwork profiles urls contain tilda: https://www.upwork.com/freelancers/~profileID

![latex](https://user-images.githubusercontent.com/27088418/33460751-b1df9f06-d640-11e7-9b1c-375df430e3cb.png)
![latex-preview](https://user-ima

[2017-12-01 12:02] vignesh-sankaran opened #36 "Compiling source code locally"
Does anyone know what command I can use to compile the LaTeX source? I get an error stating that I have to use XeLaTeX or LuaTex :(

[2017-12-01 15:16] saadq commented on #36
Ahh, sorry I definitely need to document this somewhere...

Most of the templates just use the normal `latex` command while a few use `xelatex` or `lualatex`. Right now, you can just look at [this file](https://github.com/saadq/latexresu.me/blob/master/app/server/src/generator/templates/index.js#L60) and look at the `cmd` property for each template to see which command you should run. If the templ

[2017-12-01 15:18] saadq commented on #35
Yes, I am able to replicate this issue. When I sanitize the form inputs, I do a replace of certain problematic characters, including `~` as you can see [here](https://github.com/saadq/sanitize-latex/blob/master/index.js#L14). However, it seems like `\textasciitilde{}` can cause some issues with certain TeX fonts, so I will need to investigate a bit into this. Thanks for reporting this issue.

[2017-12-03 19:47] saadq commented on #14
I had started working on this on the [new](https://github.com/saadq/latexresu.me/tree/new) version of the site, but unfortunately LinkedIn requires you to apply for a partnership if you want to get any useful data from its API (without this partnership, you can only read stuff like basic profile info and current position, you don't get access to previous work experience, education, etc).

Sadly, m

[2017-12-05 18:09] saadq opened #37 "Display Form and Resume Preview side-by-side"
This would be a quite useful feature to implement in the new version. Right now, you have to keep switching between the form view and the resume view, but ideally you would be able to see both at once.

[2017-12-07 21:57] saadq opened #38 "Redesign"
I think the whole black background/white text might be a bit of a strain, so I was thinking about giving it a more modern flair:

**Home**

![home](https://user-images.githubusercontent.com/5678694/33740663-6d5a5392-db6f-11e7-84c2-fb002aacbc6d.png)

**Form**

![form](https://user-images.githubusercontent.com/5678694/33740673-71a08688-db6f-11e7-8232-a5be54c00c2b.png)

Obviously this coincides with

[2018-01-02 13:28] saadq commented on #13
Just for a status update – I think I've got the accented characters working for every template. I've also gotten Chinese/Japanese/Korean characters working for the `xelatex` templates with the `xeCJK` package. However, I still need to figure out how to make the C/J/K characters work on `pdflatex` templates.

Apparently, there is a `CJK` package which is the `pdflatex` version of the `xeCJK`, but I

[2018-01-02 13:39] #30 closed

[2018-01-02 13:39] #31 closed

[2018-01-02 13:39] #32 closed

[2018-01-02 13:39] #37 closed

[2018-01-02 13:39] #38 closed

[2018-01-02 13:39] #6 closed

[2018-01-02 13:39] #8 closed

[2018-01-02 13:40] #22 closed

[2018-01-05 22:39] Wesley-Chan commented on #13
Thanks for your support. I don't think pdflatex and CJK characters play nicely. That's why basically all Chinese Latex writers are using xelatex.

[2018-01-05 22:52] saadq commented on #13
Yes, that makes sense. It's a shame that the majority of the templates I have for the app use `pdflatex`. One thing I can possibly look into is converting them all into `xelatex` but I imagine I will probably need help/pull request for it since I'm not all that confident in my LaTeX skills to be able to do it.

[2018-01-14 12:11] saadq opened #39 "Code splitting"
Should probably look into using [react-loadable](https://github.com/thejameskyle/react-loadable) to minimize the bundle.

[2018-01-17 03:57] #39 closed

[2018-01-17 04:37] saadq commented on #36
This should be fixed in the new version. When you download the LaTeX source, a `README.md` file will be included in the zip that will look something like this:

---

# Resumake Template 4

## Usage
To generate a PDF from this LaTeX code, navigate to this folder in a terminal and run:

    xelatex resume.tex

## Requirements
You will need to have `xelatex` installed on your machine.

Alternatively,

[2018-01-17 04:37] #36 closed

[2018-01-30 21:08] peterkos opened #40 "Reorder Subelements (Skills, Jobs, etc.)"
I'd like to be able to change the order of skills and jobs without copying & pasting manually. Maybe also an option to sort them in chronological/reverse chronological order?

[2018-01-30 23:23] saadq commented on #40
Yes, this would definitely be pretty convenient. Changing the order of the sections as a whole is possible in the new version, but your suggestion would be a nice feature to have. I'll look into the best way to try to implement this.

[2018-02-03 00:34] saadq commented on #27
https://resumake.io is live now! Please let me know if you guys have any feedback :)

[2018-02-03 00:34] #27 closed

[2018-02-03 00:43] saadq opened #41 "Credit LaTeX template authors"
Need to add a **Credits** section in the README as well as a section in the `/about` page in order to individually credit each template author.

[2018-02-03 15:10] dtsmith2001 commented on #40
@saadq Perhaps the best way to do this is to offer several functional resumes, placing the skills, projects, education, and publications before experience. Re-arranging the sections for a template is easier than writing all that code to allow people to drag & drop or otherwise reorder.

It's also a nice way to give alternatives people want while you write all that code (assuming you want to write

[2018-02-03 17:31] saadq commented on #40
@dtsmith2001 The issue with that is I would have to account for a lot of different combinations of sections.

But I think you seem to be discussing changing the orders of the main sections themselves – that feature is already implemented:

![demo](https://user-images.githubusercontent.com/5678694/35769772-1fbe01a0-08de-11e8-8a1b-e37d63d6b0ee.gif)

I think this issue was mainly about changing the o

[2018-02-03 20:48] dtsmith2001 commented on #40
Ah, I understand now. Very nice. I’ll now switch to your site for a functional resume. Thanks.

Thanks,
Dale Smith
dtsmith@mindspring.com
917-691-1791

Note: All times are Eastern.

[2018-02-05 13:13] saadq commented on #8
@kmahar I just added you as a contributor to the README, let me know if you'd rather not be on there. Thanks your contribution :)

[2018-02-05 16:02] #41 closed

[2018-02-05 16:57] kmahar commented on #8
@saadq fine with me! thanks for implementing the feature!!! :)

[2018-02-06 01:30] saadq opened #42 "research section"

[2018-02-06 01:31] saadq opened #43 "references section"

[2018-02-06 01:31] saadq opened #44 "volunteer/extracurriculars section"

[2018-02-07 00:15] #42 closed

[2018-02-07 19:32] AgrawalAman opened #45 "Research Section"
Add research section

[2018-02-07 23:37] saadq commented on #45
I think this is a duplicate of #15, so I'm going to close this one out. Feel free to reopen if you meant something different.

[2018-02-07 23:37] #45 closed

[2018-02-17 12:33] Riseley opened #46 "Bug: Unintended slanted typeface w\ solution suggestion given"
Under the Projects header with, the code automatically generated \sl outside the intended slanted "Tools Used"

Example generated by resumake:
[code]

The code above is not desirable because starting from the second project, everything below will be in slanted typeface mode. (Until the next header comes in)

Suggested solution:
[code]

Thank you for this awesome project. I would have requested a p

[2018-02-17 20:37] saadq commented on #46
Hey @Riseley, thanks for reporting this! Do you know which template you were using when you faced this issue?

[2018-02-18 08:36] Riseley commented on #46
Oh it was Template 1. I did not try this on other templates.

[2018-02-18 08:41] saadq commented on #46
Hmm, I can't seem to replicate this issue with template 1... would you be able to download the JSON for the resume and attach it here so I can try it out as well?

[2018-02-18 08:47] saadq commented on #46
Ahh, actually I was able to replicate it when I removed some of my other sections... that's weird. Will look into it!

[2018-02-18 08:59] saadq commented on #46
@Riseley so I think what was happening was that somewhere in my additional sections the formatting was getting fixed. Obviously that's not something that should be relied on, so the fix would be to do as you mentioned.

The line of code that would need to be fixed is here:

https://github.com/saadq/resumake/blob/2c83bb366822a85c340ccfe4a92be47031c4a3b8/app/server/src/generator/templates/template1/

[2018-02-19 12:37] Riseley commented on #46
Oh really? Thanks! Let me do a PR now.

[2018-02-19 20:29] #46 closed

[2018-02-20 20:51] saadq opened #48 "LabeledInput component should be moved to form folder"
Currently, `LabeledInput` lives in `resumake/app/client/src/common/components/LabeledInput.js`.

Instead, it should be moved to `resumake/app/client/src/features/form/components/fragments/LabeledInput.js`.

Anywhere it is referenced would need to have its path fixed as well.

[2018-02-23 08:52] saadq opened #49 "Make a 404 Page"
As you can see from going over to https://resumake.io/404 the 404 page doesn't really exist right now. If anyone wants to design/make one, that would be greatly appreciated :)

If anyone wants to work on this I can give some tips on what you would need to do :)

[2018-03-05 03:41] harpreetsingh91 opened #52 "Hyperlinks are no longer clickable in the generated pdf"
In the recent version, any hyperlink added inside resume is not clickable. I have generated pdfs using the service in the past and all hyperlinks (personal website, projects links) were clickable.

[2018-03-05 03:57] saadq commented on #52
Hmm, I'll have to look into it. If you don't mind, could you create a minimal example and then download the resume as JSON and upload it here?

[2018-03-05 08:12] harpreetsingh91 commented on #52
{
  "selectedTemplate": 2,
  "headings": {
    "work": "",
    "skills": "",
    "projects": "",
    "awards": ""
  },
  "basics": {
    "name": "John Smith",
    "email": "johnsmith@gmail.com",
    "website": "mykewlportfolio.com"
  },
  "education": [
    {
      "institution": "Stanford",
      "location": "",
      "area": "Computer Science",
      "studyType": "",
      "startDate": "",

[2018-03-06 01:21] saadq commented on #52
Hey @harpreetsingh91, I think the issue here is that your URLs are missing `http://` or `https://` prefix. Could you verify this by adding the prefix, downloading the PDF, and then trying to click on the links in the PDF?

[2018-03-12 22:25] harpreetsingh91 commented on #52
It does work with prefixes!

[2018-03-12 22:25] #52 closed

[2018-03-14 06:49] vsoren commented on #48
I opened a PR #53 for this.

[2018-03-15 12:04] #48 closed

[2018-03-24 08:43] mqzry opened #54 "What schemas are supported?"
What schemas are supported when importing a json?

I want to use features of jsonresume v1.0.0 which is not officially released yet.

[2018-03-24 08:47] mqzry opened #55 "Error when importing json resume v1.0.0"
After importing my json resume (v1.0.0), going to 'Skills' gives me consistently the following error:

TypeError: Cannot read property 'map' of undefined
    at i (Skill.js:48)
    at beginWork (react-dom.production.min.js:132)
    at o (react-dom.production.min.js:161)
    at a (react-dom.production.min.js:161)
    at u (react-dom.production.min.js:162)
    at O (react-dom.production.min.js:169)

[2018-03-27 02:15] saadq commented on #55
Thanks @mqzry, will look into this tommorrow!

[2018-03-27 05:29] saadq opened #56 "Add a template for GitHub issues"
There's a guide on how to do this [here](https://help.github.com/articles/creating-an-issue-template-for-your-repository/). If anyone wants to do this, feel free :)

[2018-03-28 19:06] saadq opened #57 "Use Flow exact types as much as possible everywhere"
For reference: https://flow.org/en/docs/types/objects/#toc-exact-object-types

Flow object types aren't strict by default:

[code]

Using exact types with the pipes `|` makes them more strict:

[code]

It'd be preferable to use this style as much as possible.

[2018-04-12 04:19] FK78 opened #58 "Group qualifications from same institution"
Currently you have to add another school to add another qualification, but it would be nice to have the ability to group qualifications under one institution.

[2018-04-12 04:27] saadq commented on #58
Hey @FK78, could you clarify what you mean by "qualifications"? Do you mean adding multiple degrees/majors to the same school or something?

[2018-04-12 12:31] FK78 commented on #58
Yes, multiple degrees.

[2018-04-12 20:16] saadq commented on #58
Alright, and yeah I think that this would be a good feature to have!

[2018-04-12 21:38] FK78 opened #59 "United Kingdom Template"
Allow the user to switch to a UK style of a template, in the UK they do not use GPA for all grades.

[2018-04-13 21:16] saadq commented on #59
Hey @FK78, thanks for raising this issue. Is some other measurement used instead of GPA?

[2018-05-13 00:57] FK78 commented on #59
@saadq yes we have GCSEs, A-Levels and many more.

[2018-05-18 07:31] seb-1204 opened #60 "Select paper format"
Please add the option to select PDF paper format e.g. Letter and A4

[2018-05-22 20:33] alokpant commented on #56
Hey can I pick this issue? Do you already have a sample template in mind?

[2018-05-23 22:06] saadq commented on #56
Sure @alokpant, feel free to take this issue! I don't really have any specific template in mind right now, but I would like to separate it into two possible things:

1. Is the user submitting a bug report?
2. Is the user submitting a feature request?

Maybe just have it split into two sections, and then ask the user to remove whichever section they aren't using. Take a stab at it and let me know i

[2018-05-24 19:56] alokpant commented on #56
@saadq What do you think of instead of splitting it up into two sections, when user clicks on Issue they are allowed to select two options:
- Bugs
- Feature Request

This way, we can have two templates to serve purpose for each.

Github by default also provides templates for these, but I have modified bit to serve the purpose. Please review PR.

[2018-05-24 19:57] saadq commented on #56
Actually just commented on the PR haha, but I like that approach much better!

[2018-05-25 12:56] saadq commented on #56
Closed via #61.

[2018-05-25 12:56] #56 closed

[2018-05-25 19:10] jlargs64 commented on #49
Hey @saadq , I would like to work on this. What should I need to know/tips?

[2018-05-26 09:13] alokpant commented on #57
@saadq Can I pick this up? I have not worked with Flow before so would be good topic to get into it.

[2018-05-27 03:59] saadq commented on #49
Hey @jlargs64 thanks for volunteering to take this up! So currently, the 404 "page" is coming from [`App.js`](https://github.com/saadq/resumake.io/blob/master/app/client/src/app/App.js):

https://github.com/saadq/resumake.io/blob/69cc228ccb39374fd41dbf4190ee64ad358ccb29/app/client/src/app/App.js#L73

Instead of rendering that function, it should instead point to a 404 component like so:

[code]

Y

[2018-05-27 04:04] saadq commented on #57
Sure, thanks! Let me know if you have any questions :)

[2018-05-29 06:13] alokpant commented on #57
@saadq Cool. I will look into it this week. Will ping you if anything comes up.

[2018-05-30 18:19] jlargs64 commented on #49
Sorry to respond so late @saadq ! Had no wifi for a few days. Anyway, I have a basic 404 page made in the components directory and I want to test it but can't see the results when I run the whole project. Any recommendations on how to proceed?

[2018-05-30 23:00] saadq commented on #49
It's fine, there's no rush :)

Did you make sure to export the 404 page, and then import it in `App.js`? And then change that line I mentioned above?

If so, it may be easier to help figure out why you cant see the page if you push your current stuff to your fork so that I can take a look!

[2018-05-30 23:02] saadq opened #62 "Upgrade flow and stop using glow"
`glow` was an alternate format for printing Flow errors back when Flow error messages were pretty bad. They have gotten a lot better in recent versions and running `flow` is generally much faster than running `glow`. It would be a good idea to update `flow` to the latest version, remove the `glow` dependency in both the client/server `package.json` files and updating the npm scripts to use `flow`

[2018-05-30 23:04] saadq commented on #14
Closing due to the fact that it's currently impossible to do :(

[2018-05-30 23:04] #14 closed

[2018-06-01 11:21] alokpant commented on #62
@saadq I can look into this too while looking at: https://github.com/saadq/resumake.io/issues/57 or do you prefer someone else look into it?

[2018-06-01 12:56] saadq commented on #62
It's all yours :)

Again, let me know if you have any questions on anything.

[2018-06-19 04:42] saadq opened #63 "Resumake v3"
I've been thinking about doing a rewrite of the app (again). Not sure if I'll have the time to actually end up doing this, but here's my thoughts:

* Instead of having hard-set sections (**Education**, **Experience**, etc), the UI will allow you to create your own sections
* After adding a section, you can add a "View", which will be something like a Table, a Paragraph, a List, etc.
* Builtin LaTe

[2018-06-19 05:19] saadq commented on #63
You can track progress in the [v3](https://github.com/saadq/resumake.io/tree/v3) branch. Don't expect much for awhile.

[2018-06-21 22:49] MatheusRV commented on #56
@saadq Now you could edit it visualy go to: https://github.com/saadq/resumake.io/issues/templates/edit

[2018-07-05 04:58] MatheusRV opened #65 "BusinessPlan.Rocks"
Hello, today I would like to propose a new approach to this project. I am a LaTeX enthusiast and believe that WYSWYG tools are a good way to work with such a powerful document editing tool.

Why limit only the creation of curricula vitae? A focus on creating business plans would be very interesting and usual, due to the difficulties of maintaining formatting in a giant document (usually more than

[2018-07-05 05:18] MatheusRV opened #66 "SRS.pro – Software requirements specification IEEE 830"
Continuing the idea of new approaches to this project because it did not implement the SRS - Software requirements specification IEEE 830, the template is available at http://home.agh.edu.pl/~jsw/io/IEEE830.pdf

many software engineers would adopt by default.

[2018-07-05 05:28] MatheusRV opened #67 "Research.expert"
Many researchers and academics around the world do not know how to use LaTeX for their research. Adopting a WYSWYG can facilitate the massive adoption of the scientific milieu to LaTeX technology.

A survey will almost always consist of some

1. Cover
2. Pre-textual
2.1. Cover sheet
2.2. Summary
2.3. Theme
2.4. List of Illustrations
2.5. List of tables
2.6. List of Abbreviations
2.7. Search proble

[2018-07-05 06:32] MatheusRV opened #68 "Improve Lighthouse Report"
# Lighthouse Report
- ? points Performance
- 54 points Progressive Web App
- 85 points Accessibility
- 79 points Best Practices
- 78 points SEO

## Performance
### Metrics

1. First Contentful Paint: 4.800 ms
2. Speed Index: Error!
3. Time to Interactive: 9.520 ms
4. First Meaningful Paint : 5.060 ms
5. First CPU Idle: 9.520 ms
6. Estimated Input Latency: 163 ms

### Opportunities
These are opport

[2018-07-18 16:40] nhend commented on #9
Bug still occuring on templates 1, 2, 4, and 5.
![wrapping_issue](https://user-images.githubusercontent.com/25094119/42895362-8b636744-8a6e-11e8-8e88-efa09318ae8f.PNG)

[2018-07-18 16:51] saadq commented on #9
note to self:

* https://stackoverflow.com/questions/790932/how-to-wrap-text-in-latex-tables
* https://tex.stackexchange.com/questions/306514/how-to-align-table-so-that-it-doesnt-overflow-the-page-horizontally

[2018-07-24 06:42] nhend opened #69 "Set font size"
Allow the user to scale total font size with a slider/text box

[2018-07-24 06:43] nhend commented on #69
How would you do this in LaTeX? I can't get \documentclass to do anything to my Resumake docs

[2018-07-24 11:52] saadq commented on #65
Hey @MatheusRV, thanks very much for the effort in putting this issue together. While I think this is a cool idea, it is most likely not one I am going to pursue. I have pretty limited time to work on FOSS like Resumake nowadays, and sadly I don't think I would be motivated enough to work on something I wouldn't really use personally. I definitely think the idea itself has good value and should pr

[2018-07-24 11:52] #65 closed

[2018-07-24 11:52] saadq commented on #66
Closing for the same reason as #65.

[2018-07-24 11:52] #66 closed

[2018-07-24 11:52] saadq commented on #67
Closing for the same reason as #65.

[2018-07-24 11:52] #67 closed

[2018-07-24 11:53] saadq commented on #68
Thanks very much for putting this report together! I have fixed my server's text compression, so that helped performance a decent amount. Next, I need to work on optimizing images.

[2018-07-24 12:02] saadq commented on #69
So little known fact about me... the reason I made this site was because I sucked at `LaTeX` and didn't want to have to use it.

With that said, I think the issue might be this: https://tex.stackexchange.com/a/70384/78659

TLDR:

Instead of something like this:

[code]

you would need to do this:

[code]

[2018-07-24 15:10] nhend commented on #69
Well thanks for saving the rest of us. Although the more I use Resumake the more I'm tempted to improve my `LaTeX` and contribute here

[2018-07-26 12:47] saadq commented on #69
Going to close this out, feel free to reopen if you still have a concern regarding this.

[2018-07-26 12:47] #69 closed

[2018-07-26 22:43] saadq opened #70 "Buttons should have an outline when focused"
In this screenshot, the <kbd>Remove School</kbd> button is focused:

<img width="237" alt="screen shot 2018-07-26 at 6 35 53 pm" src="https://user-images.githubusercontent.com/5678694/43292363-e1b72b18-9102-11e8-92d0-25e5e5a08b95.png">

However, it is impossible to tell. This is problematic because it raises some accessibility concerns for keyboard users and those who have visual impairments.

The

[2018-07-30 13:54] ravikishorethella commented on #70
@saadq I'm interested working on this. Could you please tell me what to do if you have something in mind?

[2018-08-01 16:06] saadq commented on #70
Hey @ravikishorethella, thanks for the interest!

So essentially you would need to be changing this file here: https://github.com/saadq/resumake.io/blob/master/app/client/src/common/components/Button.js

You would need to add a `&:focus { ... }` (similar to how there is a `&:hover { ... }` block), and put whatever CSS styles you want in there when the button is focused. There's lots of possible wa

[2018-08-03 23:53] ecf22 opened #71 "Template 2 - Mismatched font"
With template 2, the skills section font is a serif font, while the rest of the resume template uses a form of sans-serif. Not a big bug, but rather a small design component that throws off the consistency just slightly.

Thanks for building this tool! Much love for it.

[2018-08-04 13:30] ravikishorethella commented on #70
@saadq I'm gonna start working on it. Thanks for the information.

[2018-08-09 14:08] pedrof95 opened #72 "Can't download TeX document"
Clicking the LaTeX download button doesn't download anything. I've tried this both in Chrome and Firefox.
However, the buttons for the JSON and PDF files work.

[2018-08-09 16:54] saadq commented on #72
Some questions...

1. What device are you on?
2. What operating system?
3. Which template are you using?

Also, could you please download the resume as JSON and attach it here as a comment so I can try to reproduce the issue.

[2018-08-09 17:13] pedrof95 commented on #72
Sure. I'm on PC, using Windows 10. I tried with many templates but none worked. I've also tried downloading it with less characters, and without moved sections.

Apparently I can't attach JSON files here, by the way.

[2018-08-09 18:38] saadq commented on #72
Ah, that's news to me. Could you just paste the contents of the JSON here in a comment?

Wondering if this is a windows-specific issue...

[2018-08-09 18:42] pedrof95 commented on #72
Sure. Just changed the extension to txt.
[resume4.txt](https://github.com/saadq/resumake.io/files/2275511/resume4.txt)

[2018-08-09 18:48] saadq commented on #72
It seemed to work for me... (unfortunately).

[resume.zip](https://github.com/saadq/resumake.io/files/2275533/resume.zip)

I'm going to try to see if I can get access to a Windows computer to test stuff out on...

[2018-08-09 18:52] pedrof95 commented on #72
Thank you!
I'll be around in case there's anything I can help you with.

[2018-08-09 19:04] saadq commented on #72
Appreciated :)

I'll be posting any updates about the issue here.

[2018-08-20 11:19] z1333 opened #73 "Allow the user to change resume background"
First of, I love your site, thank you. I think it would be a good feature to be able to to change background (image or color). I edited the latex code for my resume and it made a huge difference as far as callbacks for jobs go. Once again thanks and keep up the great work

[2018-08-20 21:26] saadq commented on #72
Hmm, so I've tried it on a few windows computers and it seemed to work fine for me... are you sure you don't have some chrome extension which blocks the downloads? If not, could you try some other device and see if the issue still happens?

[2018-08-21 15:52] pedrof95 commented on #72
Just tested it again, and now it works, though I'm not really sure of the reason. I've updated Firefox since the last time I tried, but I don't think that makes a difference, since I also couldn't download it through the Chrome browser.

[2018-08-26 01:05] saadq commented on #71
So the issue is coming from here:

https://github.com/saadq/resumake.io/blob/69cc228ccb39374fd41dbf4190ee64ad358ccb29/app/server/src/generator/templates/template2/inputs/awesome-cv.cls#L240

The `\textnormal` is what is causing the issue. Removing that will fix the font face issue.

Before:

<img width="1078" alt="screen shot 2018-08-25 at 9 03 12 pm" src="https://user-images.githubusercontent.com

[2018-08-29 05:33] saadq commented on #73
Hmm, not sure about this. Could you provide an example resume that has the background changed? I usually just see resumes as white backgrounds with dark text on it, not really familiar with colored backgrounds or backgrounds that have images on them.

[2018-09-03 14:38] Sigurthorb opened #74 "Inconsistency between Education and Work date period delimiter in Template 1"
**Describe the bug**
Inconsistency in delimiter. Education uses '-' while work uses '|'

**To Reproduce**
Steps to reproduce the behavior:
1. Select template 1
2. Enter work date period and education date period
3. Generate (pdf or latex)
4. See difference between the splitter of the date periods

**Expected behavior**
The date periods would be consistent

**Desktop (please complete the following

[2018-09-07 06:30] z1333 commented on #73
[Resume1.pdf](https://github.com/saadq/resumake.io/files/2359814/Resume1.pdf)
[resume-5.pdf](https://github.com/saadq/resumake.io/files/2359815/resume-5.pdf)

[2018-09-18 10:12] abhinavprateek opened #75 "V3 TS-Node error"
**Describe the bug**
TSError: ⨯ Unable to compile TypeScript

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'client folder'
2. Run 'npm install' and then 'npm start'
3. See error

**Expected behavior**
npm start should start the client side.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![snip_20180918154213](https://user-images.githubusercontent.com/89

[2018-09-18 11:34] saadq commented on #75
Thanks for reporting this! Will look into it when I get home.

[2018-09-18 11:40] saadq commented on #74
Sorry for the delayed response! I think `-` is the most expected symbol, so I can update the generator to use that.

Or if you'd like to submit a PR that would be cool too. It would just be a matter of changing these lines:

https://github.com/saadq/resumake.io/blob/3c018004934137d3d501de5748fcf940527312ac/app/server/src/generator/templates/template1/index.js#L143-L145

and just changing the `|` t

[2018-09-20 04:56] abhinavprateek commented on #75
Any update?

[2018-09-20 05:42] saadq commented on #75
Hey @abhinavprateek sorry for the delay!

I think the issue is that `@types/webpack-dev-server` needs to be installed as a `devDependency` as well. I'm not sure why I'm not having this problem locally though...

Could you try running `npm install --save-dev @types/webpack-dev-server` and see if that fixes the problem?

As a side note, just note that `v3` is pretty much just a barebones scaffolded

[2018-09-25 15:39] Sigurthorb commented on #74
Thank you for the response, I'll fix this and send in a PR

[2018-10-06 04:16] alexluong commented on #73
Is this something we want to pursue, @saadq? I'd be happy to help out in this feature.

[2018-10-06 20:46] anelook commented on #70
Hey guys,
Since there was no activity on this since August I made a quick change.
I played with couple of variations and stopped on darkening background and lightening text and border.
Remove School is focused =>
<img width="210" alt="screen shot 2018-10-06 at 22 34 17" src="https://user-images.githubusercontent.com/4600541/46575597-76da8d00-c9b8-11e8-9d96-e74cbeadef9a.png">
Other ideas:
1. <img w

[2018-10-07 09:39] anelook commented on #55
Keywords are missing. Same error happens for projects.
I suppose keywords should not be mandatory, right?

[2018-10-07 20:10] saadq commented on #55
Very sorry that this dropped off my radar... I'm going to try to see what's up with this later today and get back to you guys.

[2018-10-08 03:59] saadq commented on #55
@anelook Could you give me some example JSON to try out that causes an issue? I don't actually seem to be getting any problem using "Import JSON" with the JSON code mentioned in the first comment.

[2018-10-08 05:17] saadq commented on #70
Fixed in #76, thanks very much for your work @anelook! Deployed to production as well.

[2018-10-08 05:17] #70 closed

[2018-10-08 08:16] #75 closed

[2018-10-08 08:30] saadq commented on #73
Hey guys, I'm very sorry for the delay in my response @z1333. Also, I'm very grateful that you'd volunteer for this @alexluong!

However, I'm not actually sure if I think this feature should be added to the app. I've looked at hundreds of resumes when trying to compile my list of templates, and I have almost never seen background images in them. I really wouldn't recommend anyone actually go throu

[2018-10-08 08:33] saadq commented on #63
Going to close this until I actually start working on this...

[2018-10-08 08:41] saadq opened #77 "Remove buttons should be `disabled` when there is nothing left to remove"
For example in the **Education** section, if there is only one school left, the <kbd>Remove School</kbd> button should be disabled because there it only removes if there is more than one school left.

However, currently it looks like you can click it.

**Current look**:

<img width="705" alt="screen shot 2018-10-08 at 4 34 50 am" src="https://user-images.githubusercontent.com/5678694/46598985-fdc0

[2018-10-08 08:43] nirmalks commented on #77
I would like to work on this

[2018-10-08 08:45] saadq commented on #77
Awesome! It's all yours @nirmalks. Check out the [contributing.md](https://github.com/saadq/resumake.io/blob/master/contributing.md) if you haven't already, and feel free to ask any questions here if you have any trouble setting up or getting the app running.

[2018-10-08 08:46] #73 closed

[2018-10-08 08:50] saadq opened #78 "Specify version requirements in contributing.md"
Because there's a fair amount of new contributors, and I've had some users in the past, there should probably be a notice in the [contributing.md](https://github.com/saadq/resumake.io/blob/master/contributing.md) which mentions that Node v7.6+ is required and npm v5+ is required.

[2018-10-08 08:58] Esslamb commented on #78
I can look into this :)

[2018-10-08 16:18] anelook commented on #55
I used this json file -
[1.json.zip](https://github.com/saadq/resumake.io/files/2456700/1.json.zip)
After you upload the file, click on "Skills" or "Projects" to see the error. If you still can't see it, I'll make a short video :)

But I believe you can use any json file which lacks skill keywords. The issue is in Skill.js where we iterate through keywords (line 47) - at that moment keywords are u

[2018-10-08 23:30] #74 closed

[2018-10-09 02:51] alexluong commented on #78
Sorry if this is not the right place to talk about it, but is there any good issue you may need help with, @saadq? I'm comfortable with React and Node, so I should be able to tackle or inspect anything.

[2018-10-09 18:34] saadq commented on #78
@alexluong I can definitely use help from someone who has React/Node experience! There are some things that probably aren't listed in the issues so I'll ping you once I have those issues created and you can let me know if any of them interest you.

[2018-10-09 18:36] alexluong commented on #78
@saadq Sounds great. Just let me know in the issues when you create them and I'll take a look!

[2018-10-09 19:35] saadq commented on #78
Fixed by #79

[2018-10-09 19:35] #78 closed

[2018-10-09 19:36] saadq commented on #77
Fixed by #82.

[2018-10-09 19:36] #77 closed

[2018-10-09 19:36] saadq commented on #72
Going to close this out, but feel free to open another issue if you see something like this happen again.

[2018-10-09 19:36] #72 closed

[2018-11-18 17:49] koshyviv commented on #40
Would love to see this feature

[2018-12-12 01:52] Akin2Silver opened #83 "White space/formatting"
It would be really great if there was an option for formatting the page a little.
Even just a "Move section to next page" type button.

Was very frustrating trying to add extra bits to other sections to make it push the bottom section over to another page.

I was trying to move it around to stop a second been broken up by a page break, imho it makes it a lot nicer to read if you don't break over t

[2018-12-12 04:40] saadq commented on #83
I think an interesting way to do this might be to have "vertical spacing" sliders for the whitespace above a section and whitespace below a section

[2019-01-09 03:17] MHishere commented on #71
hey @saadq have you found any fix yet? thanks!

[2019-01-13 13:51] kjc86 opened #84 "Icon bug"
**Describe the bug**
Icons in template 2 are too large and overlap with text in Profile section when printed

**To Reproduce**
Steps to reproduce the behavior:
1. Make
2. Download pdf and print or print from resumake

 - Google Chrome

 - Macbook

[2019-01-13 14:30] saadq commented on #84
Hmm, I don't seem to see an issue like that with one resume I tried:

<img width="1441" alt="screen shot 2019-01-13 at 9 23 53 am" src="https://user-images.githubusercontent.com/5678694/51086447-12487000-1715-11e9-8ddd-ad141a4d1bca.png">

Could you try it as well and see if the issue happens? Here is the JSON:

<details>
<summary><strong>resume.json</strong></summary>

[code]

</details>

You can

[2019-01-13 20:04] saadq commented on #71
Hi @MHishere, unfortunately I haven't gotten an opportunity to work on this yet. I'll keep you all posted in this thread when I get a chance!

[2019-01-18 19:47] dougcooper opened #85 "Add page breaks"
Its common for sections to need a page break if the start of the section slightly overlaps with the previous page.

[2019-01-18 19:55] dougcooper opened #86 "Undo and redo"
There have been a few instances where undo and redo would have come in handy.

[2019-01-19 00:42] saadq commented on #86
Hmm, what specifically should be undoable/redoable? Just the adding/removing of elements inside a section?

[2019-01-19 00:47] saadq commented on #85
@alexluong Hey there! I know it's been awhile, but I recall you showing interest in contributing and to let you know if any issues came up. Just wanted to ask if this is something you'd be interested in, this feature wouldn't be too difficult and there would be some work both client-side and a little server-side. If this is something that interests you, let me know and I'll be happy to go into det

[2019-01-19 01:06] dougcooper commented on #86
Yes sir. That’s exactly what happened. Actually, I deleted an entry thinking that I was removing the currently selected entry. Except the last item in the list is always removed. Items in the middle of a list cannot be removed. Probably another issue to be added.

[2019-01-24 03:33] alexluong commented on #85
I'll try to get the app running in the next few days. Will let you know how that goes afterwards.

On a side note, any reason why you're choosing Gitter? I'm just wondering since I don't hang out there very often. It's hard to keep track of all open sources projects sometimes with Spectrum, Slack, Gitter, and Discord.

[2019-01-24 03:46] saadq commented on #85
Sounds good. And nope, no particular reason for choosing Gitter – I'm open to anything. Do you have a recommendation out of the ones you listed?

[2019-01-24 20:53] alexluong commented on #85
I like Spectrum and Slack. I like the direction Spectrum is going, and it's also recently acquired by GitHub too. However, it's not as mature as others, so you can run into bugs from time to time.

Slack is just ubiquitous and I'm on it very frequently, so it's easy for me to keep track of.

If I were you, I'd consider Spectrum more. But that's just me. Do check them out and see what works best fo

[2019-01-24 21:13] dougcooper opened #87 "Add or remove at all element levels"
Proposal 1: UI Change where all elements have an add/remove widget

* `(+)` inserts an item directly below the current item
* `(-)` removes the current item

![image](https://user-images.githubusercontent.com/17769091/51708612-4fa0dd80-1ff2-11e9-8ddc-09c1541b1246.png)

Proposal 2: Logic Only Change

* `(+)` continues to insert an item directly after the last item in the list
* `(-)` removes the it

[2019-01-25 02:31] saadq commented on #85
I remember trying out Spectrum when it was first released awhile back. I did like it, but I think I'm going to go with Slack for now as I typically use Slack/Discord pretty often and don't use Spectrum too much.

Here is a [Slack link](https://join.slack.com/t/resumake/shared_invite/enQtNTMyNzA0NjgwNTMxLTA5NWFmZDJjYjlkNzE0OGNiNDlmMGQ4NGU3ODgyZGMzZjI3MDcxNzlkYjhkOWY3NDI1MWZmYjcwZWIyOTRlMzQ) to join

[2019-02-04 01:00] saadq opened #88 "Redesign home page"
The home page is kind of boring. I am not that good with design so if anyone would be able to help out with this it would be appreciated!

Current home page:

<img width="1440" alt="screen shot 2019-02-03 at 8 00 20 pm" src="https://user-images.githubusercontent.com/5678694/52185526-5c8db000-27ee-11e9-9eca-2081c0c0f662.png">

[2019-02-06 22:07] Chandler-Davidson opened #89 "Local PDF Builds"
When building my resume, I often go back and forth between my text editor and Resumake.io. It can be frustrating to re-upload and re-download files to see minor changes.

It'd be helpful if I could run the server as a script to build my JSON into a PDF locally. If this was possible, we could extend it to become a CI tool for people that have their resume hosted on GitHub.

The best solution is to

[2019-02-10 22:17] ph0well opened #91 "Crashes on work experience"
PDF preview crashes when filling in work experience. I was using template 6,haven't tried with others

[2019-02-10 23:35] saadq commented on #91
Hi @ph0well,

Would you be able to share the info you were using that caused this crash? You could do so by clicking the <kbd>JSON</kbd> download button and then sharing that JSON file that was downloaded. You can do so either by copying the contents of the file here in a comment or you can email it to saad@saadq.com

I'll be able to see the actual info you put in, so you may want to anonymize you

[2019-02-12 04:22] vfulco opened #92 "Can not get client/server launched..."
A bit of a noob with node.js.  I git cloned, installed globally (including blyss and snappy) and ran tests.

The error message surfaces...

ERR! resumake-client@0.1.0 lint: `blyss | snazzy`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the resumake-client@0.1.0 lint script 'blyss | snazzy'.
npm ERR! Make sure you have the latest version of node.js and npm installed.

node.js version is 8.10.0

[2019-02-12 04:32] vfulco commented on #92
Went into both client  and server folders, doing npm install in each.  Site tries to render and fails with new errors.  Back when I know more.

[2019-02-12 04:39] saadq commented on #92
Would definitely not recommend installing anything globally. The only other potential issue I see from the details you provided are that you are on a pretty old version of npm. I would recommend upgrading to v5.0.0+ if you can. You can update `npm` just by running `npm install -g npm`

After getting on a new `npm` version, here are the steps you should need to do:

1. Clone or download the project

[2019-02-12 10:30] vfulco commented on #92
Thanks very much for the quick response.  If anyone else is attempting the above, Ubuntu 18.04 installs a higher level of npm (6.7.0) but then symlinks hide it (maintaining 3.5.2 as the current version).

The way to fix is "hash -d npm" found in this Q&A.

 https://askubuntu.com/questions/1036278/npm-is-incorrect-version-on-latest-ubuntu-18-04-installation.

Trying everything again.

[2019-02-16 18:39] #92 closed

[2019-02-18 15:04] JordanTranchina commented on #49
Hey y'all. I'm a UX designer. Would you like me to build a quick 404 page? Can design it for sure and hopefully code it soon after.

[2019-02-18 15:04] JordanTranchina commented on #88
I can try to take this on. I'm a UX designer

[2019-02-18 19:35] saadq commented on #88
@JordanTranchina Awesome, feel free to take a stab at it! Please feel free to join the new [Slack channel](https://join.slack.com/t/resumake/shared_invite/enQtNTMyNzA0NjgwNTMxLTA5NWFmZDJjYjlkNzE0OGNiNDlmMGQ4NGU3ODgyZGMzZjI3MDcxNzlkYjhkOWY3NDI1MWZmYjcwZWIyOTRlMzQ) for Resumake, and feel free to message me their or comment here if you have any questions.

[2019-02-18 19:37] saadq commented on #49
@JordanTranchina Sounds great! It is totally up to you if you just want to do the design or code it as well, just let me know. And once again, feel free to ask any questions you may have here or in the [Slack channel](https://join.slack.com/t/resumake/shared_invite/enQtNTMyNzA0NjgwNTMxLTA5NWFmZDJjYjlkNzE0OGNiNDlmMGQ4NGU3ODgyZGMzZjI3MDcxNzlkYjhkOWY3NDI1MWZmYjcwZWIyOTRlMzQ).

[2019-02-20 17:04] JordanTranchina commented on #49
hey @saadq can you point me in the direction of the folder where I can make a pull request?

[2019-02-20 19:42] saadq commented on #49
You can just create a `design` folder inside `app/client` and put any design assets in there.

[2019-02-20 20:17] JordanTranchina commented on #49
Complete as a result of pull request #93

[2019-02-20 20:19] saadq commented on #49
Actually I'll leave this open until I create the page based on your design

[2019-02-22 06:09] saadq commented on #49
Implemented.

Test: https://resumake.io/blah

<img width="914" alt="screen shot 2019-02-22 at 1 08 43 am" src="https://user-images.githubusercontent.com/5678694/53223161-6c0a5700-363e-11e9-90f8-40bcfac75d7c.png">

Closing, but let me know if you have any issues with the implementation and I can reopen.

[2019-02-22 06:09] #49 closed

[2019-02-22 13:27] JordanTranchina commented on #49
This looks great! Glad we got to work together on this!

[2019-02-26 18:54] saadq opened #94 "Join the Slack channel!"
Discussions about the project and conversations with new contributors will be in the new Slack channel, so check it out!

https://join.slack.com/t/resumake/shared_invite/enQtNTYxODMzMDc4NDg1LTdkMWNlODRhNmJiYzE2YjFmZTVjZDNjZjVjZmI3ZTZhY2EwODIzZTAyZTY2OTM5NTVlNmU1YzM1NGFkZTU4YzY

[2019-03-04 20:41] ryukinix commented on #89
It would even better if was possible to push the `resume.json` file through a API REST POST request via curl and building a automation tool, like writing a Makefile and using `make`.

That would be so great because we could just do `make resume-long` and `make resume-short` based on the templates available. This will reduce the human interaction when is not necessary.

[2019-03-04 21:25] g-berthiaume opened #95 "When using the "import json" feature, it's not possible to select templates."
**Describe the bug**
When using the `import json` functionality it is impossible to choose a template.
No matter what template options you select, the template will stay to default (template 1).

**To Reproduce**
Steps to reproduce the behaviour:
1. Go on https://resumake.io/
2. Click on `import json` button
3. Select the json file in your computer
4. Click on `template x`

**Expected behaviour**

[2019-03-04 23:12] saadq commented on #95
Just to check, are you clicking the <kbd>Make</kbd> button after you switch the template? The resume generation doesn't happen until you click that button.

If that was the issue, then I think it might make resume generation occur on template switch as it might not be too intuitive right now.

[2019-03-05 02:27] g-berthiaume commented on #95
You're right.
When I clicked the `make` button, the template was correctly selected.
My bad.

[2019-03-05 02:56] saadq commented on #95
I'm going to leave this issue open as I think it currently is not intuitive. I think switching templates should automatically trigger resume generation, so will fix that soon.

[2019-03-05 15:03] g-berthiaume commented on #95
Excellent.
Thanks for your work.

[2019-03-13 03:07] daviewales commented on #84
I have this issue as well. The bizarre thing is that the issue only occurs when the resume is printed as a **hardcopy***! On a computer screen, the icons are the correct size in all PDF readers I've tried. When printed onto paper, the icons are too big!!! (I've tried printing from different PDF readers too.)

[2019-03-13 03:17] saadq commented on #84
Hmm, I see... I'll have to try actually printing it out and and looking at the hardcopy and seeing if there is a way to resolve this

[2019-03-13 03:18] daviewales commented on #84
I have also downloaded the LaTeX template, and generated the PDF on my own machine, with the same issue. (I eventually just disabled the icons for my personal resume.)

[2019-03-13 03:33] saadq commented on #84
Thanks for the info @daviewales. I'll investigate soon, but I'll need to see if I am implementing the [Awesome-CV](https://github.com/posquit0/Awesome-CV) template incorrectly, or if it as an issue with the template itself. I haven't updated the source for that template in a very long time so redoing it based on the latest latex code in that repo might also be a fix, I'll have to see.

[2019-04-16 04:10] zisan34 opened #96 "add career objective and extracurricular activities field"
a cv always has a career objective field and extracurricular activities field. but in your template there is none. so add them, please.

[2019-04-22 15:31] raviriley commented on #96
+1

[2019-05-08 19:53] jeeva86 opened #97 "Add in custom sections"
**Describe the solution you'd like**
Ability to add custom sections. e.g. Volunteer Work, Summary, Objectives, etc.

**Describe alternatives you've considered**
There's no alternative for Volunteer Work.

[2019-05-09 04:45] MatheusRV commented on #97
I can handle with that. @jeeva86 any chance to you help?

[2019-05-09 17:25] jeeva86 commented on #97
Sure, I can help @MatheusRV

[2019-05-09 17:57] MatheusRV commented on #97
Lets start mapping whats have to be done. Which fields do you think would be useful? What should each contain?

Help me make clear what should be done, I believe that I implement this very quickly.

[2019-05-09 18:10] jeeva86 commented on #97
Some use cases:

1. `Volunteer Work` heading with fields identical to `Work Experience`.
2. `Summary` heading with one field to add a paragraph of text.

[2019-05-09 21:59] saadq commented on #97
I have some stuff to say about this, will do so later tonight!

[2019-05-10 13:29] DonMehdi commented on #71
Hi @saadq, I was using your app and thank you for it. I have a problem with the template 2 ( Error: LaTeX Syntax Error
  ! LaTeX Error: File `awesome-cv.cls' not found.
  )
  ! Undefined control sequence.)
Any idea ?

[2019-06-09 04:38] raviriley commented on #97
@saadq any update on this issue?

[2019-06-09 04:48] raviriley opened #98 "Activities and Societies/Extracurriculars field for education"
**Is your feature request related to a problem? Please describe.**
I want to add extracurriculars/clubs I've participated in school.  There is no way to do this currently.

**Describe the solution you'd like**
I would like something like an"Activities and Societies" section under education, similar to what LinkedIn has.
Ideally, it would be a custom field, so that someone could specify the section

[2019-07-18 09:17] iamrajiv opened #99 "change of footer year to 2019"
The year in the footer section of [https://latexresu.me/](https://latexresu.me/) is 2018.

![Capture](https://user-images.githubusercontent.com/42106787/61445323-d06de000-a96a-11e9-9d45-20a539236c7b.JPG)

It should be changed to 2020.

[2019-07-22 08:52] eka-sap opened #100 "Template 9 Education bug"
**Describe the bug**
In template 9 (last template), the education section has a bug. When adding more the 1 education details the formatting breaks.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Template 9(last template)
2. Click on Education section
3. Add education detail and add 2-3 education details
4. See the broken format.

[2019-08-13 14:15] Yboktaya opened #101 "Preview window is empty"
**Bug description**
The window on the right doesn't output anything. Always white

**To Reproduce**
Steps to reproduce the behavior:
1. Go to to the website
2. Click on the desired template
3. Nothing happens

I tried on different devices with different browsers. same issue, what could be the reason.

[2019-08-14 01:16] saadq commented on #101
Yes, I think it's currently unintuitive. There won't be any content shown in the preview window until you put information in to the form fields (using the sidebar on the left). You can press the <kbd>Make</kbd> button whenever you want to generate the PDF.

But yeah, there are plans to make the UX more intuitive in the next version.

[2019-08-31 19:54] aburgy opened #102 "Musician-style resume template"
**Is your feature request related to a problem? Please describe.**
While you have a nice selection of business-style resumes, you'd receive a lot of traffic from musicians, both young and old, looking to; either create a resume for the first time, or update existing resumes. The main issue is that your format only allows for a few criteria per section. (i.e. Job title, dates, location.

**Describe

[2019-09-10 21:22] ParkerD559 commented on #71
I downloaded the latex and changed the skills section myself to this:
[code]
which is just taken from how awesome-cv does skills in the example: https://github.com/posquit0/Awesome-CV/blob/master/examples/cv/skills.tex

looks like this now:
<img width="848" alt="image" src="https://user-images.githubusercontent.com/22242367/64651423-52600f80-d3d6-11e9-9eb0-393e7660fea5.png">

[2019-09-11 13:43] pseudo13 opened #103 "Unable to run xelatex command"
**Describe the bug**
Error "Unable to run xelatex command" appeared

**To Reproduce**
Steps to reproduce the behavior:
1. Installing of all packages
2. Fill in the needed information
3. Click on make to generate files
4. Error appears

**Expected behavior**
A pdf file get created.

[2019-09-12 03:42] saadq commented on #103
Do you have `xelatex` installed on your machine? A few of the templates use `xelatex` or `lualatex` instead of `pdflatex` to compile the PDFs, so you need to install them separately. The [contributing.md](https://github.com/saadq/resumake.io/blob/master/contributing.md) needs to be updated to include this information.

[2019-09-12 19:12] kartik533 opened #104 "Bullet Points for Project Description"
Please provide bullet points options for project description as it is present for experience field.

[2019-09-12 19:13] kartik533 opened #105 "Bullet point feature missing for project description"
Please provide bullet points in project description as it is present for experience field.

[2019-09-12 19:18] #105 closed, assigned to nobody

[2019-09-22 06:54] #100 closed

[2019-09-22 06:54] saadq commented on #100
Fixed by #107

[2019-10-09 07:42] liqingbao opened #110 "Not support Chinese"
failed to make when type in Chinese

[2019-10-11 02:34] nrgapple commented on #40
Was this ever merged?

[2019-10-11 02:49] nrgapple commented on #97
Is this one a branch?

[2019-10-12 08:40] vs4vijay opened #111 "Add option to input percentage instead of GPA"
In the **education** section, we can only enter GPA. but in India, we usually have percentage.

Can we have percentage input as well?

[2019-10-13 00:49] raviriley commented on #97
@nrgapple doesn't look like it is in development right now

[2019-10-13 06:28] saadq commented on #97
Sorry for not updating guys...

I'll have a more official statement on this later, but the tldr is that I have been working on a new version of Resumake from scratch (in a private repo) that will support custom sections with a couple of other people and its been kind of slow due to me starting full-time work and just working on this when I have time.

My big project at work is finishing up, so I b

[2019-10-13 07:25] raviriley commented on #97
@saadq Sounds awesome, I'm sure people would be happy to contribute if you did that.
I'm actually glad that wasn't added yet, it forced me to learn LaTeX to create my customized version of the template, so I gained a new skill from it!

[2019-10-14 23:08] nrgapple commented on #40
this feature seems to be on the web site. can it be closed?

[2019-10-14 23:30] nrgapple commented on #97
@raviriley Would you mind sharing some resources on your LaTeX template?

[2019-10-14 23:35] nrgapple commented on #97
@saadq And to piggy back this issue, are you continuing to develop in react? Do you have any plans to support [FRESH resume schema](https://github.com/fresh-standard/fresh-resume-schema)? Please don't remove the JSON import support. It's a killer feature!

From what I can find online, this is the best implementation of JSON Resume on the web. Keep up the great work!

[2019-10-16 15:57] raviriley commented on #97
You can check it out [here](https://www.overleaf.com/read/yjqwjrxvrtxz).

[2019-10-23 04:03] AliSheikh98 opened #112 "Not showing resume preview, download is blank"
Resumake.io not showing preview of resume after adding information to input fields. Tried to download the resume off anyway in hopes of it being a display bug but the PDF and LaTex files were empty (no input info). Used updated google chrome browser.

[2019-10-23 05:56] saadq commented on #112
Could you provide some additional info? Such as what template you're using, what sections you've filled in (education, work, etc).

Also, Did you try the JSON download button as well? That would probably be the easiest way to share your inputs so that I could try them out as well...

A few people have had this issue before, and for most cases it was because they were copy/pasting from somewhere el

[2019-10-29 06:09] vidu333 opened #113 ""Invalid Json" error to list the line/section that had the issue"
I wanted to reorder some sections and I downloaded and edited the json by hand. I got an "Invalid JSON" error when trying to upload the edited json and resolved the errors by using jsonlint.com.

If possible and if it makes sense to do, could you list the exact json error? I am using Microsoft Edge so if another browser is recommended let me know.

[2019-10-31 02:50] saadq commented on #113
Hey @vidu333 thanks for your suggestion.

It is possible, though I don't really see much benefit in adding JSON linting to the app, I think that responsibility should fall on text editor tools or websites like you mentioned.

With that said, there already is a built in way to reorder sections so you shouldn't have to manually edit the JSON for that anyways: https://github.com/saadq/resumake.io/iss

[2019-10-31 02:50] #113 closed

[2019-11-03 18:06] vazome opened #114 "Cyrillic (Russian) Support"
I tried to build the additional version of resume in Russian and it didn't work
![image](https://user-images.githubusercontent.com/46573198/68089805-9d9a1a00-fe7d-11e9-9340-563f30b45688.png)

Please, add the support of Cyrillic letters

[2019-11-08 19:47] SoreThumb1 commented on #112
I've encountered the same problem. I do not think it is browser specific since i have tried it on chrome, edge, and internet explorer.

From the moment I load the site and click "make new resume" the preview screen on the right is blank and never changes.
![resumake](https://user-images.githubusercontent.com/25835158/68506037-8eb8bc00-021d-11ea-961a-93c13190dc19.png)

[2019-11-09 08:00] saadq commented on #112
@SoreThumb1 The resume doesn't generate until you press the `Make` button on the bottom left. You can click on the sections on the left sidebar and then fill out whatever info you want there. Press `Make` whenever you want to rebuild your resume after changes.

[2019-11-13 16:16] Ishaan28malik commented on #114
@vazome this same issue happened with me aswell.

[2019-11-13 16:49] Ishaan28malik commented on #114
This issue is occurring in a few Templates when we exceed the content beyond 1 page.
@saadq @anelook

[2019-11-19 03:03] piercedejong commented on #9
The bug still occurs on templates 1, 2, 4, and 5. Any chance of an update?

[2019-11-20 22:53] ducaale commented on #94
The invite link does not seem to work anymore.

[2019-11-20 23:46] ducaale commented on #111
Percentages are also used for high school in some countries.

@saadq I want to tackle this feature. should I add select control to let the user choose between GPA and Percentage?

[2019-11-21 00:14] ducaale commented on #114
I was able to make template3 display cyrillic letters by adding these [lines](https://tex.stackexchange.com/a/72690)
[code]

@vazome template6 already works have you tried using it.

[2019-11-21 01:56] saadq commented on #114
Hi @ducaale thanks very much for investigating some solutions! I should hopefully have time this weekend to try it out (if not, most likely next Friday) and then I can deploy fixes.

[2019-11-21 02:00] saadq commented on #111
So the two options I can think of are

1. We go with your approach to have a dropdown for different variations of GPA
2. We just modify the GPA line to be a simple text input where users can customize how they want the GPA line to be displayed

I am fine with either approach, let me know if you have any thoughts

[2019-11-23 22:34] tdlab opened #116 "Adding Skills"
Hi,

When I try to add a skill without a skill detail, it seems that it automatically adds a colon after, even if there is nothing written there. In my line of work, it is typical to have a class listed without any additional text. For example:

Skill 1:text
Skill 2:

See how Skill2 should have nothing after it if the description is blank? I am using this section as a certifications section and th

[2019-11-25 07:30] FRANCII-cmd opened #117 "Resume gets cut off when longer than one page"
Let me know what information you need, but every version of my resume is a page and a half, and the final line of the first page always gets cut off. I am using Template 1. In image 2 I removed some items from my resume to show it happens no matter what the final line is. Image 1 was taken of the pdf copy, image 2 is from the preview copy on the website.
---
![image 1](https://user-images.githubus

[2019-11-29 05:02] vs4vijay commented on #111
I was also hoping to have 2nd option....

[2019-11-29 15:10] ducaale commented on #111
There is also the third option of renaming gpa to grade [#328](https://github.com/jsonresume/resume-schema/pull/328).
What do you think @vs4vijay?

[2019-12-13 03:44] FRANCII-cmd opened #118 "New Additions Should Go Above Current Information"
**Is your feature request related to a problem? Please describe.**
Updating your resume with new, more recent information can be a pain. The current design is great for a first-time build of the resume. But when new projects are created or work experience is gained, it can be problematic to update longer resumes.

**Describe the solution you'd like**
When doing something such as adding a new job,

[2019-12-16 01:30] xinbinhuang commented on #94
^^ Would also like to join but the slack channel is no longer valid...

[2019-12-16 10:51] saadq commented on #94
Sorry about that guys. Here is a new link that shouldn't expire: https://join.slack.com/t/resumake/shared_invite/enQtNTYxODMzMDc4NDg1LWE5ODk0ZjgxNGUyOTU2YTJiOTM0M2NkZDY2MTc5YTJkZmRhY2Q1NDhmYmYwNTc2ZTdiNGQ1OWVjZjU4NjE3YzE

[2019-12-17 23:06] xinbinhuang opened #119 "Dockerization"
Hi Saad,

Thanks for the good work. I really like the project and the way it standardize the resume making. However, I got some dependency issues (i.e. latex) when I tried to spin up a local server with the latest update on `About` section from the master branch. I think it would be nice to dockerize both the client & server to have a better development and deployment experiences.

Let me know how

[2020-01-08 18:16] fabulousmichael opened #123 "Failed to load pdf file"
Tried making a new CV after putting in details and information and I then click on MAKE, the page comes with an error message saying (Failed to load pdf file).

[2020-02-02 13:03] akashcoc commented on #116
need more description @tdlab ,  I tried this example: skill 2  empty description doesn't have colon

[2020-02-02 13:06] akashcoc commented on #99
wokring on it

[2020-02-03 04:46] akashcoc commented on #123
@fabulousmichael template #6?

[2020-02-03 18:23] #99 closed

[2020-02-05 03:25] Windsooon commented on #13
From what I understand, in template2, template4, template6. we only need to add

    \usepackage{xeCJK}
    \setCJKmainfont{Source Han Sans}

in their index.js to support Unicode.

[2020-02-10 01:50] jimmyhuang commented on #123
I had an issue where I copied over bullet points (with whitespacing) and I received the same error. I would check your inputs again and make sure everything is plain text.

[2020-02-12 15:43] hefedev commented on #119
OP are you woking on this currently ?
@saadq what do you think? do we have the go

[2020-02-18 04:04] 7h3-10n3-r4n63r opened #127 "Long sentences in Skills section going out of bounds of the page"
**Describe the bug**
In the Skills section I have noticed two different things:
1. If the Skill Name is too long it's not wrapping after certain limit
2. If the Skill Detail is too long it's not wrapping after the page margin is reached and is going out of bounds
I have noticed this bug in the templates 1, 2, 4, 5

I have tested this in all other fields like Education, Work, Projects and Awards, b

[2020-02-18 04:25] 7h3-10n3-r4n63r opened #128 "No line break for Award Name and Date in template 6"
**Description**
In the Awards section when I am adding more than one awards, the Award name and Date of next award is going on the same line as the Summary of previous award.
This is happening only in Template 6

Also in Template 8 the position of Award Date is a bit wrong and it merges with the summary easily, please place it so as it's visible properly.

**To Reproduce**
Steps to reproduce the b

[2020-02-22 17:49] noraj opened #129 "[Chore]"
The say thanks badge link https://saythanks.io/to/saadq is giving a 404.

[2020-03-02 19:57] chinmaykunkikar commented on #111
@ducaale Would still be confusing in some cases.
I liked @saadq's 2nd option the most too.

[2020-03-02 21:56] vs4vijay commented on #111
@ducaale - Sure, we go for third option as well.

[2020-03-04 03:58] peterkos commented on #40
@nrgapple I don't think the issue is solved yet, unless I am missing something.
The website lets you reorder the _sections_ (Education, Work, etc.) but this is about reordering specific elements within a section: like, reordering specific jobs.

[2020-05-10 02:56] saadq commented on #63
# Plans for v3

* Custom sections
* Auto rebuilding
* Reordering of subsections
* Collapse/Expand subsections
* Dark/light mode
* Better JSONResume compatibility/support
* Animations
* Fonts/Colors?
* Button for previewing your resume in all templates?

[2020-05-11 16:35] glacials commented on #40
+1 to this, to give a real use case:

I like to order my jobs from most recent to least recent. I recently switched jobs and wanted to add my new job to the top, so I opened my saved JSON file in Resumake and clicked "Add Job", but it appears at the bottom.

So if I want to get it to the top, I have to manually copy paste the sections in job A to job B, job B to job C, etc. so that the "job A" slo

[2020-05-11 17:43] saadq commented on #40
This feature will be a part of the [v3](https://github.com/saadq/resumake.io/issues/63) rewrite

[2020-05-14 07:11] holako1992 commented on #123
Need to install latex first in your local machine to be able to compile:
https://www.latex-project.org/get/

[2020-05-17 17:58] omerfraz commented on #123
I am having the same issue. I have tried MiKTeX but still same.

[2020-05-17 20:32] omerfraz commented on #123
I did two things and problem was fixed on windows 10 (I cannot confirm which one of the two fixed the issue in my case).
1. Downloaded TexLive and installed it from the link
http://www.tug.org/texlive/acquire-netinstall.html

2. in webpack.dev.config.js edited proxy target https to http

    proxy: {
      '/api/**': {
		  target: 'http://localhost:3001',
		  //pathRewrite: { '^/api': '' },
			sec

[2020-05-18 00:29] saadq commented on #123
@omerfraz Could you share the error message from the terminal where you are running the Resumake server?

[2020-05-18 00:58] omerfraz commented on #123
[HPM] Error occurred while trying to proxy request /api/generate/resume from localhost:3000 to [::1]:3001 (ECONNREFUSED) (https://nodejs.org/api/errors.html#errors_common_system_errors)

[2020-05-18 00:59] omerfraz commented on #123
And some tests!

 FAIL  src\tests\api.js (19.65s)
  ● Console

    console.error node_modules\koa\lib\application.js:194

    console.error node_modules\koa\lib\application.js:195
        Error: Error while running latexindent.
            at ChildProcess.<anonymous> (G:\resumake.io-master\app\server\node_modules\pretty-latex\index.js:62:22)
            at ChildProcess.emit (events.js:203:13)

[2020-05-18 01:12] omerfraz commented on #123
And contents of the log

0 info it worked if it ends with ok
1 verbose cli [
1 verbose cli   'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Program Files\\nodejs\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'run',
1 verbose cli   'test:server'
1 verbose cli ]
2 info using npm@6.9.0
3 info using node@v12.6.0
4 verbose run-script [ 'pretest:server', 'test:server', 'posttest:ser

[2020-05-18 02:54] saadq commented on #123
It would be easier to debug this over Slack, and then we can update here when fixed. Could you join the [Slack channel](https://github.com/saadq/resumake.io/issues/94) and then I can take a look later today or tomorrow.

[2020-05-18 13:38] Zenahr commented on #112
How difficult would it be to support live-updates for every newly filled in field?
This behaviour did trip me up too.

[2020-05-18 13:41] Zenahr opened #130 "Live Update"
**Describe the solution you'd like**
It would be lovely if the view would update every time an input field has been filled.

As of now, preview is only accesible when clicking the "MAKE" button.

[2020-05-18 17:42] saadq commented on #130
This is hopefully going to be part of v3: https://github.com/saadq/resumake.io/issues/63

[2020-05-18 19:52] FRANCII-cmd opened #131 "Awards Cannot Separate"
When using Template 2, the awards are bugged such that all awards must be on the same page. Instead of having the listed awards start on page 2 (for example) and overflow into page 3, the entire awards section, except for the heading, gets moved to the 3rd page; leaving a huge block of empty space on the 2nd page. In other words, the awards cannot span 2 pages, they simply create a new page specif

[2020-05-20 12:56] omerfraz commented on #123
Thanks for the invite. I headed over to Slack and checked the issue, its more likely the way we ran the scripts (client and server to run separately in two different command windows
i.e. **npm run start:client** and **npm run start:server**  in addition to some settings in webpack.dev.config.js i.e.

    proxy: {
	'/api/**': {
	target: 'http://[::1]:3001',
	//secure: false,
	//changeOrigin: false,

[2020-05-24 09:26] dhawal003 opened #132 "Page Break Problem in"
Page Break Issue in Theme 1.

Kindly fix this or provide a link to original .tex theme so that I can fix it.
![image](https://user-images.githubusercontent.com/13016960/82750578-b264dd80-9dce-11ea-9b67-e8331c654077.png)

[2020-05-26 19:34] rrr523 opened #133 "generate resume api 500 error"
**Describe the bug**
generate resume api 500 error

**To Reproduce**
Steps to reproduce the behavior:

1. click "make" button , it called 500.

**Expected behavior**

generate resume successfully

**Screenshots**

![image](https://user-images.githubusercontent.com/59029880/82942565-b9583f80-9fca-11ea-97dc-a42e5c5a7ab2.png)

**Desktop (please complete the following information):**
 - OS: [MacOS]
 -

[2020-05-26 20:15] saadq commented on #133
It's basically as the error states, you are unable to run the `xelatex` command on your machine. Check out the [Requirements section](https://github.com/saadq/resumake.io/blob/master/contributing.md#requirements) in the contributing doc, you will need to have LaTeX installed with the ability to run `pdflatex`, `xelatex`, and `lualatex` from the command line. If any of those commands don't exist, y

[2020-05-28 02:41] #133 closed

[2020-06-01 07:39] mcuix opened #134 "Run from network server instead of localhost"
I have resumake.io installed on a local raspberry pi server, but am unable to connect to it via http://<ip-address>:3000. Which files do I need to edit to change the localhost to the ip of the local pi.

[2020-06-01 08:28] saadq commented on #134
From what I understand, this isn't a question/issue specific to Resumake, so I would recommend maybe asking on StackOverflow to find out how to run a Node server from a network server instead of localhost.

[2020-06-01 08:28] #134 closed

[2020-06-04 03:36] saadq commented on #63
Significant progress is being made... you can keep tracking the `v3` branch to stay updated.

[2020-06-06 20:55] scheung38 opened #135 "[Question] How to create a new section?"
For example a Profile section at the beginning of the page?

Also how to drag and drop, or insert within, say the WORK section as currently if adding a new section we need to delete existing subsection?

[2020-06-06 22:10] saadq commented on #135
Hi @scheung38, unfortunately both of these are currently features that aren't supported unfortunately.

Issue for allowing reordering: https://github.com/saadq/resumake.io/issues/40
Issue for allowing custom sections: https://github.com/saadq/resumake.io/issues/97

I am currently developing version 3 of Resumake which will support both of these features. You can track progress for v3 here: https:/

[2020-06-06 22:10] #135 closed

[2020-06-06 22:12] saadq commented on #103
Closing as issue is stale with no response.

[2020-06-06 22:12] #103 closed

[2020-06-07 00:57] scheung38 commented on #135
Is that reordering of contents, say within WORK section? Say I needed to insert a missing work experience? I am not referring to reordering of the sections as that is already working...

[2020-06-07 01:00] saadq commented on #135
Yes, I am referring to reordering of subsections, not sections. I have  it working in the new v3 of Resumake:

![reorder](https://user-images.githubusercontent.com/5678694/83957815-a3931780-a81f-11ea-93fb-92041c1a75ed.gif)

but it will be some time before v3 is finished and released.

[2020-06-07 02:06] scheung38 commented on #135
so users need to wait for your nice work then?

[2020-06-07 03:42] saadq commented on #135
Unfortunately yes :/

I'm working on this on my free time during weekends so hoping to make some more progress by the end of this weekend, but I think it will probably be a few more weeks of work.

[2020-06-07 04:37] scheung38 commented on #135
A publications section would be nice too, but a profile summary I believe would be the most asked...

[2020-06-07 05:12] scheung38 opened #136 "[Question] Bottom of WORK section not auto spacing? Looks unprofessional?"
![Screenshot 2020-06-07 at 06 11 13](https://user-images.githubusercontent.com/1273014/83960886-e2f44f00-a885-11ea-86e8-105be91c3ce0.png)

[2020-06-07 05:40] saadq commented on #136
Can you give more context? Using the issue template that should have been prefilled:

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable,

[2020-06-11 01:16] saadq commented on #123
How did you install latex initially? Did you do it through MacTeX? (https://www.tug.org/mactex/)

I think MacTeX is the recommended solution for installing latex on Mac and usually comes with most of those packages installed.

[2020-06-11 01:23] ars75 commented on #123
Yes I installed MacTex first and then tried running the scripts. But now I’m running into Syntax errors for a few templates 😅 while others compile it just fine. Idk why that’s happening though. So will have to look into it next

[2020-06-16 00:00] powertrio77 commented on #123
I get Failed to load PDF file. I'm on windows10. I'm clicking the Make button to make a PDF.

Where do I copy the folder node-latex-master? I pasted it here, C:\test\resumake.io-master\node-latex-master\
The only thing I ran was, "npm install node-latex"

Do I need to do anything else to install node-latex? Do I need to do something with the Usage code, mentioned in the readme.md? Thanks.

I have

[2020-06-18 11:53] scheung38 commented on #136
Using the first template 1, when generated, all the pages have zero spacing from bottom of page.

[2020-07-07 20:54] adarshk commented on #136
Have the same issue:
Mac OS 10.14.5
Tested on Chrome 83 and Safari

Using template 1
To reproduce - Profile, followed by Work section
In the work section, have multiple Jobs
For each job - have multiple responsibilities where some of the responsibilities take up multiple lines on the rendered pdf

Text goes until bottom of the pdf and gets cut off

[2020-07-13 03:12] rudolph9 commented on #13
Related is just displaying generic unicode characters. I was trying to add stars next to skills and ran into display issues e.g. `Git ★★★★☆`

[2020-07-16 06:25] anthonygedeon commented on #88
Is somebody currently doing this?

I can definitely design a landing page.

[2020-07-16 11:14] saadq commented on #88
Hey @anthonygedeon, I don't believe anyone is currently working on it. I would love to have some help on the landing page! I'm currently 75%-ish done with a rewrite/redesign of the entire app ([v3 branch](https://github.com/saadq/resumake.io/tree/v3)) but I haven't gotten started on the landing page at all.

Current app:

<img width="1440" alt="Screen Shot 2020-07-16 at 7 13 23 AM" src="https://us

[2020-07-19 23:58] saadq opened #141 "Projects should allow for both bullets points + short description"

[2020-07-21 16:51] srvstvnhl commented on #52
Please add the HyperLink Text format too. "TextLink" this would be very helpful if you do so. or if there is something to handle this please tell.

[2020-07-26 05:09] anthonygedeon commented on #88
Hey @saadq

Sorry for the late response. Anyway, thanks for letting me know! I will send a potential landing page design within this week.

[2020-07-26 18:01] saadq commented on #88
No worries, and sounds good :)

[2020-08-04 01:29] saadq opened #144 "Consider migrating from redux-toolkit to regular redux (+ maybe redux-saga)"
I like a lot of things about about redux-toolkit but i don't really like their way of doing async stuff. The old way of using redux is a lot more boilerplate but feels a lot more straight forward and simpler to understand for new contributors. nothing decided yet, but just leaving this here for now to note it

[2020-08-04 01:31] saadq opened #145 "Rename `topLeftText`, `topRightText`, etc to more accurate names"
Those property names are nonsensical right now considering that they aren't accurate depending on the template (e.g. `topRightText` might go on the bottom).

[2020-08-04 01:34] saadq commented on #119
Sorry guys! Going through cleaning up my GitHub issues and I somehow missed this issue very sadly... but I think Dockerizing Resumake would be awesome! I personally have no experience with Docker so I probably wouldn't be able to even look into it until `v3` has finished, but if either @xinbinhuang or @hefedev are still interested in helping out with this I would really appreciate it!

Again, sorr

[2020-08-04 01:35] saadq commented on #15
`v3` is getting close to being finished. Once that is done, custom sections can be created which should handle this use case.

[2020-08-04 01:35] #15 closed

[2020-08-04 01:37] saadq commented on #40
This has been implemented in v3. Hope to release within the next few weeks!

[2020-08-04 01:37] #40 closed

[2020-08-04 01:37] saadq commented on #43
Closing in favor of custom sections (https://github.com/saadq/resumake.io/issues/97)

[2020-08-04 01:37] #43 closed

[2020-08-04 01:38] saadq commented on #97
Closing in favor of [custom sections](https://github.com/saadq/resumake.io/issues/97) which has been implemented in `v3` (hopefully releasing in a few weeks).

[2020-08-04 01:38] saadq commented on #44
closing in favor of custom sections (https://github.com/saadq/resumake.io/issues/97) which has been implemented in v3

[2020-08-04 01:38] #44 closed

[2020-08-04 01:39] saadq commented on #97
This has been implemented in `v3` (hopefully releasing it in a few weeks).

[2020-08-04 01:40] saadq commented on #54
This should hopefully be fixed in `v3` which is going to be released in a few weeks.

[2020-08-04 01:44] saadq commented on #130
This has already been implemented in v3, I'm wondering right now if it's going to be on or if I will make it a setting to turn it on and keep it off by default to reduce load on my server...

[2020-08-04 08:20] jasonliu747 commented on #123
Hi @saadq , I'm having the same issue on https://resumake.io
![image](https://user-images.githubusercontent.com/24452340/89270421-e5004180-d66d-11ea-89e5-f1dda3919bf0.png)
![image](https://user-images.githubusercontent.com/24452340/89270653-3d374380-d66e-11ea-9d37-e77e9b3aa839.png)

[2020-08-10 15:25] oxr463 opened #146 "Export to Word (.docx) via Pandoc"
**Is your feature request related to a problem? Please describe.**

Recruiters are always asking for a Word (.docx) copy, but I do not use Microsoft Word.

**Describe the solution you'd like**

I would like an option to download/export as Word (.docx).

**Describe alternatives you've considered**

I typically export the LaTeX version and then convert to Word (.docx) via `pandoc`.

**Additional con

[2020-08-10 18:39] saadq commented on #146
Thanks for the request @oxr463, this is something I've been planning on looking into for v3. I haven't done any testing yet on how the output looks, in your experience do you find that it's mostly fine? And is there any difference/preference between going from LaTeX -> Word vs PDF -> Word?

[2020-08-10 23:19] oxr463 commented on #146
Two things:

1. These Word (.docx) files are going into some proprietary software to be scanned; I don't even care what it looks like to be honest. Usually what happens is, the recruiter reaches out to me based on my PDF resume that I have shared, and asks for a Word (.docx) so that they can process it in their system.

2. I've actually never tried going from PDF straight to Word (.docx). A few ti

[2020-08-11 01:30] saadq commented on #146
So my main concern was that a lot of people have emailed me requesting for .doc support because a lot of users of Resumake aren't technical and just want to be able to download a .doc that they can open in Word and customize the resume further since Resumake itself doesn't really provide much customization and they won't really be familiar with LaTeX. I'll be checking out pandoc though and seeing

[2020-08-11 13:18] oxr463 commented on #146
Oh.. that is a good point. I had not considered that.

[2020-08-24 15:52] scheung38 opened #147 "[Question] How to insert latest Work Experience"
How do I easily insert latest work experience?

[2020-08-25 02:38] willjad opened #148 "PDF fails to load when emojis are used"
**Describe the bug**
Resumake fails to load PDF when an emoji is entered in one of the resume fields.

**To Reproduce**
Steps to reproduce the behavior:
1. Open resumake
2. Enter an emoji 😊 into one of the fields. On windows 10 this is easily done by Windows key + . (period), which opens a little menu to insert emojis.
3. Click make.
4. See error "Failed to load PDF file".

**Expected behavior**
P

[2020-08-25 02:45] saadq commented on #148
Not too sure if LaTeX supports emojis, will look into it. Otherwise I'll probably just add some kind of clientside error message when people put in invalid characters.

Though as a side note I don't really recommend putting emojis in resumes :p

some reviewers may consider it unprofessional

[2020-08-25 02:54] willjad commented on #148
https://tex.stackexchange.com/questions/3695/smileys-in-latex seems to suggest that it's possible if you have a font that supports it. From Jurassic Park, "your scientists were so preoccupied with whether or not they could, they didn't stop to think if they should."
I agree that including emojis on a resume would be ill-advised.

[2020-08-26 09:47] aleczandah opened #149 "Can't display anything on either Brave or Chrome"
![image](https://user-images.githubusercontent.com/70264361/91288930-43ff3500-e79a-11ea-991e-b4f3654160c7.png)

Just get a blank page whatever I do!

[2020-08-27 06:01] bshan7 commented on #149
The 'MAKE' button should be clicked inorder to process your information and display it on your desired template. It will not be updated simultaneously as you type in your details.

[2020-08-27 06:20] aleczandah commented on #149
I am SUCH an idiot. Thank you!

[2020-08-27 06:20] #149 closed

[2020-08-27 06:24] saadq commented on #149
You're not, it could be more intuitive. You're not the first person who had this issue. Hopefully v3 will make it more clear to new users.

Thanks @bshan7 for answering

[2020-09-11 01:50] bioye opened #150 "Add support for User Accounts (Register and Login)"
**Is your feature request related to a problem? Please describe**
I would like to be able to save my uncompleted resume and return to finish it later.

**Describe the solution you'd like**
This would require an ability to save my session which would only be possible if I could register and login on return.

**Describe alternatives you've considered**
The other option would be to download an editab

[2020-09-11 02:51] 007tom commented on #150
It can reserve your data unless you clear session

[2020-09-11 02:53] bioye commented on #150
If I close the browser completely and restart my system, and then visit the site again, would I still find my unfinished resume there?

[2020-09-11 02:56] 007tom commented on #150
your brower will clear your session automatically?

[2020-09-11 03:00] 007tom commented on #150
take a look at your `chrome://settings/cookies`, if you open the option -- clear cookies and other storage when close browser

[2020-09-11 03:04] bioye commented on #150
The option is disabled:
![Screenshot 2020-09-11 at 4 02 14 AM](https://user-images.githubusercontent.com/19975295/92849848-acc5ee80-f3e3-11ea-82a3-c9680d70ff60.png)

So are you saying that if I close the browser and restart a few times and go back to resumake.io 6 months later, my resume would still be intact?  Yes or No?

[2020-09-11 03:06] 007tom commented on #150
<img width="575" alt="截屏2020-09-11 上午11 03 50" src="https://user-images.githubusercontent.com/31362988/92850228-c3d60200-f41e-11ea-9371-4a842e865c8c.png">
you can still use your session

[2020-09-11 03:08] 007tom commented on #150
I don't sure that when it will be expired

[2020-09-11 03:13] bioye commented on #150
Alright.  Thanks for the help.  Hence, to be able to preserve resumes for an indefinite period of time with certainty, user persistence would be helpful, don't you agree?

[2020-09-11 03:28] 007tom commented on #150
To be honest, it is stored at `localStorage`
<img width="1279" alt="截屏2020-09-11 上午11 26 17" src="https://user-images.githubusercontent.com/31362988/92853011-ec133000-f421-11ea-978e-f49304655d01.png">

[2020-09-11 03:35] 007tom commented on #150
[localStorage has no expiration time](https://developer.mozilla.org/en/docs/Web/API/Window/localStorage#:~:text=localStorage%20is%20similar%20to%20sessionStorage,when%20the%20page%20is%20closed.), unless the developer set it manually

[2020-09-11 03:52] 007tom commented on #150
found it

https://github.com/saadq/resumake.io/blob/9f52bcc874b54e1449b9225ab9a117678238d01f/app/client/src/app/store.js#L9

[2020-09-27 20:53] limaunion opened #151 "Add option for page size and margins"
Is your feature request related to a problem? Please describe
Feature request

Describe the solution you'd like
I'd like to be able to define (1) the paper size (A4/letter/etc) and (2) top/bottom/left/right margins for the PDF output. Thanks!

[2020-09-28 00:09] saadq commented on #151
This should be pretty doable... might look into adding something like this after the v3 release.

[2020-10-06 11:17] punitkmryh commented on #147
ya even i having same problem with work section.

[2020-10-06 16:21] saadq commented on #147
In V3, you'll be able to drag and drop to reorder. Hoping to launch the next version soon

[2020-11-21 00:15] 1hella opened #153 "Longer project URLs go off the page"
**Describe the bug**
When adding a link to a project that has a longer URL, for example both Apple App Store and Google Play Store URLS, the link goes off the page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to projects
2. Add a project
3. Add a URL to the Google Play Store or Apple App Store
4. Press MAKE
5. See that the URL goes off the page.

**Expected behavior**
The URL should w

[2020-12-21 02:29] powertrio77 opened #154 "what font is used in Template1"
Can you tell me the main one or two fonts used in Template1 please?
my guesses are Book Antiqua Constantia, Sitka, but it doesn't really look right.
I'm trying merge 2 PDF files.

1. tried searching other issues, is:issue is:open font
2. tried looking in resumake.io/app/server/src/generator/templates/template1/
can you tell me, where could I see this, which file in the code?  thanks.

[2020-12-21 10:43] saadq commented on #154
Someone who knows LaTeX more than I may be able to say with more certainty, but looking at [template1](https://github.com/saadq/resumake.io/blob/master/app/server/src/generator/templates/template1/index.js), it doesn't look like any fonts are specified so it would be using the default font for LaTeX. Doing a search for that seems to suggest that the font would be `Computer Modern` / `Latin Modern`

[2020-12-21 18:25] powertrio77 commented on #154
thanks

[2020-12-21 21:46] saadq commented on #154
closing, feel free to reopen if needed

[2020-12-21 21:46] #154 closed

[2021-01-14 07:47] despacitopapichulo opened #155 "Ability to denote promotions/past position within the same company"
Include a way to stack positions within a single position to denote promotions as well as dates for said promotion. Could allow the minimizing of space rather than rewriting the same company with said experience.

[2021-01-14 07:49] despacitopapichulo opened #156 "A way to enlarge the text box as to see what we are typing"
As the title says, just a method to view everything that is being typed rather than what is currently on the screen.

[2021-01-14 07:51] despacitopapichulo opened #157 "Grammarly Support"
A way to integrate Grammarly as to assist with any errors/corrections

[2021-01-20 20:12] nivabecassis commented on #127
A workaround is to create a new skill section with an empty skill name. The skills are on a new line and are still properly aligned.

[2021-02-10 08:43] kajeagentspi commented on #148
The same error occurs when a Japanese Character has been inputted.

[2021-03-03 19:34] noraj opened #158 "Template n°9 Awards title rendering"
On Template n°9, the **Awards** title is not displaying correctly, it has the wrong font and size, and is under instead of above teh separator line.

![image](https://user-images.githubusercontent.com/16578570/109861504-a6f8e980-7c5f-11eb-9f1f-1f23aa192c7c.png)

Setting a custom title (_Certifications_ on the screenshot) or leaving blank for default title (_Awards_) gives the same result.

[2021-03-03 19:36] noraj commented on #88
Any newson the new landing page?

[2021-03-03 19:44] noraj opened #159 "Eeducation additional fields"
It feels like the education section is lacking of some fields:

- A free text-area field or an unordered list similar to the _Job Responsibilities_ in the Work section
- (Optional) Domain: domain of the degree (Examples of values: Information Security, Network & Telecommunication, Mathematics, Physics, Computer Science), but this could be redundant with the title in some case, so it's not the most

[2021-03-03 22:46] saadq commented on #159
Yes, ultimately Education will be a lot like the Experiences section in the next version of Resumake which is under development. Custom sections are also supported so you can just make your own if you want to do your own customization for it as well

[2021-03-03 23:23] noraj commented on #159
In v3 right?

[2021-03-03 23:50] saadq commented on #159
Yep

[2021-03-11 00:31] A-Singh15 opened #160 "Website DOwn"
Website DOwn

[2021-03-11 00:42] saadq commented on #160
Thanks for letting me know, it should be fixed now.

[2021-03-11 00:42] #160 closed

[2021-03-15 04:18] suryanarayana007 opened #161 "Start date and End date breaks"
**Describe the bug**
Using template 9, if the Start date and End date fields (together) cross more than 16 characters, the text is going to the next line.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/24636919/111103015-7411f800-8573-11eb-85cc-f32faa394001.png)

[2021-03-17 14:47] karlbrown-va opened #162 "Add a privacy policy"
**Is your feature request related to a problem? Please describe.**
It would be nice if there was a privacy policy describing the approach to user data collected by the website.

**Describe the solution you'd like**
A privacy policy that states that the website will not store, sell, or use any data entered in it (I didn't check but I'm assuming this is the case...)

[2021-03-17 14:55] SG7jit commented on #52
I am able to see the hyperlink in the profile section however this isn't the case with the urls provided in the project link. Can we add hyperlink there?

[2021-04-20 18:46] ducaale opened #166 "Consider generating the LaTeX document in the client-side"
I have recently come across [SwiftLaTeX](https://github.com/SwiftLaTeX/SwiftLaTeX) which is a client-side LaTex editor that takes advantage of WebAssembly for the document generation. I think it would be nice to do the same for resumake.io since it would be more faster and responsive for live previewing.

[2021-04-20 20:33] saadq commented on #166
Thanks for sharing this! This is really cool, going to take a look at this soon when i get a chance and see how performance and stuff is

[2021-04-20 20:38] saadq commented on #166
note to self: https://github.com/SwiftLaTeX/SwiftLaTeX/blob/master/src/client/swiftlatex/latexEngine.tsx#L122-L167

[2021-05-10 16:49] OthonoCode opened #168 "Website Down"
Hello! The website has been down all day for me today, May 10th. The last I had accessed it was the morning of May 8th.

My browser throws ERR_CONNECTION_REFUSED and when I try accessing it on cellular LTE network I get HTTP ERROR 408.

Thank you for your work on this excellent project and I hope you are able to restore it soon!

[2021-05-10 21:31] DaivikGoel commented on #168
+1 on this issue. Would be a shame if you took the website down, this is one of my favourite resources to refer people too :(

[2021-05-11 18:49] saadq commented on #168
Sorry for the downtime! I had it resolved last night, should be all good now.

and lol dw, there are no plans to take the website down anytime in the foreseeable future :). I do hope to try to get better sponsorship for it at some point though as I have been losing money every month to keep the website up.

[2021-05-11 18:49] #168 closed

[2021-05-29 22:58] saadq opened #169 "🔥 Help Wanted: Looking for a UI/UX designer to help with Resumake v3 🔥"

[2021-05-29 23:00] saadq commented on #63
looking for a UX designer to help out with the design, opened #169

[2021-05-30 05:10] Gulshanaggarwal commented on #116
@saadq  yeah I'm getting the same issue.
Can I start working upon this issue?

[2021-05-30 05:17] saadq commented on #116
Hey @Gulshanaggarwal sure feel free! My time is very limited to work on Resumake these days so I've just been focusing on v3 instead of some of these existing bugs. They will be fixed before v3's release but in the mean time I'm happy to accept PRs for fixes :)

[2021-06-03 14:36] SoulEater45 opened #170 "Projects and Publications in JsonResume"
I am using the jsonresume standard for my resume and while importing my file into the website, I noticed a project field, which is not present in the jsonresume. But there is a publications field in the standard which could also be incorporated in there. Would it be able to check also the `publications` instead of only `projects` so people from jsonresume have it also a bit easier?

[2021-06-19 14:35] devkdn commented on #127
Using an empty skill name adds Misc for me
![image](https://user-images.githubusercontent.com/22102599/122645765-991d8600-d0e1-11eb-8834-3f51965fc945.png)

[2021-07-26 12:48] higheredd opened #171 "Issue with local copy"
Hi!

I cloned the project and ran it on my local machine. However, on clicking "Make" button, the error pops up.
![image](https://user-images.githubusercontent.com/87493885/126991092-18c9d633-30c3-41e5-8eb8-afb92aeffef4.png)

Console:
(The application runs on port 3000)

Error occurred while trying to proxy request /api/generate/resume from localhost:3000 to http://localhost:3001 (ECONNREFUSED) (h

[2021-07-26 19:02] saadq commented on #171
How did you start the application? It seems like just the client is running and not the server.

[2021-07-27 00:13] saadq commented on #170
Hi @SoulEater45, V3 which is under development will include additional sections like `publications` and `volunteer`.

`projects` actually is a newer addition to `jsonresume` as [you can see here](https://github.com/jsonresume/resume-schema/blob/master/schema.json#L412-L476). It just seems like most jsonresume templates do not use the section.

[2021-07-29 09:32] Bipinjot commented on #171
I followed these steps:

1. npm Install
2. Npm start

[2021-07-30 02:42] saadq commented on #171
Which folder did you run that in? From your comment I'm guessing that you ran that inside just the `app/client` folder so only the client is running and not the server.

If you haven't already, please check out the [Setting Up](https://github.com/saadq/resumake.io/blob/main/contributing.md#setting-up) guide. But basically the simplest way to setup and run both the client and server:

1. Clone the

[2021-08-03 20:29] saadq commented on #171
Hey @Bipinjot and @higheredd can you let me know if you've tried the instructions I mentioned above?

[2021-08-03 23:51] saadq commented on #162
Hey, sorry for getting to this late. I think that's a good point, I will include this in v3

[2021-08-04 07:39] higheredd commented on #171
Hi @saadq
I ran the commands in the root directory. The issue persists. I'm trying different things.

[2021-08-07 20:06] firmprojects commented on #171
Facing exact same issue. I followed @saadq instruction above, but the error still persist.

[2021-08-10 22:51] saadq commented on #171
Hey all, sorry to hear you guys are facing issues...

One other thing to try – Can you try to individually run the client and server?

1. Run `npm start` inside `app/client` in one terminal window
2. Run `npm start` inside `app/server` in one terminal window

[2021-08-19 14:58] trickstival opened #172 "Failed to Load PDF"
**Describe the bug**
When I click on "Make", I get a "Failed to load PDF file." error message

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://latexresu.me/generator/
2. Click on Import JSON
3. Select this JSON (my resume):
[code]
4. See error

**Expected behavior**
It should display the PDF

**Screenshots**
![Screen Shot 2021-08-19 at 11 57 23](https://user-images.githubusercon

[2021-08-19 21:28] saadq commented on #172
Hi @trickstival, thanks for so much for sharing the JSON, it really helps. I will look into it today if I have time or tomorrow, and then get back to you

[2021-08-20 05:35] saadq commented on #172
Hey @trickstival, I looked into the issue and it looks like the issue is coming from here:

[code]

You can see that there are some weird instances of `\u0000` being a part of the JSON. I'm guessing this may have happened when copy/pasting from some other PDF file into the input fields, I think Resumake still needs to do a better job of making that clear for the user 😅

---

Here is some working J

[2021-08-20 05:35] #172 closed

[2021-09-05 19:47] 1brah commented on #169
Hey @saadq, I see this was posted a while ago. I am a UX/UI Designer you may be looking for. Here is my portfolio, [ibrahux.com](url)

[2021-09-16 09:39] alinawaztechnosoft opened #173 "Feature: To add new sections"
Please add a feature to insert new sections e.g like experience, school etc. If someone wants to add a summary section

[2021-09-16 16:39] be-rock commented on #162
until that time, @saadq can you please share your comments here on how user data is kept safe, secure, private? is user data persisted anywhere?

[2021-09-17 02:06] saadq commented on #97
^

![lie](https://user-images.githubusercontent.com/5678694/133712566-8d7423f0-6d88-49ca-8c41-347a88b28df3.png)

I'm hoping to go back to working on v3 in a couple of weeks when things slow down at work... I will reopen this until v3 is actually published and users can actually use custom sections.

[2021-09-17 02:07] saadq commented on #173
Hi @alinawaztechnosoft in v3 I am planning on adding more default sections as well as allowing users to create custom sections. Closing this for now as a duplicate of #97

[2021-09-17 02:07] #173 closed

[2021-09-17 02:15] saadq commented on #162
Sure, so I don't persist any data at all (there is no database for Resumake). I can go into some more technical details below:

When a user clicks the **Make** button to generate the resume, it sends the user data to my server. My server will then transform that data into a LaTeX document and then run a LaTeX subprocess in a `tmp` folder. So a PDF file as well as other miscellaneous tex files will

[2021-09-24 00:43] be-rock commented on #162
Thank you for the thorough response and for your approach to privacy.

[2021-09-27 17:35] astromanish commented on #173
@saadq when v3 is releasing?

[2021-09-28 18:09] saadq commented on #173
Hi @astromanish, you can track the V3 issue here: https://github.com/saadq/resumake.io/issues/63 I'll be posting any major updates there.

The short answer is that it will be released when it's done – it's just something I'm working on slowly in my free time and whenever things get hectic at work I end up taking long breaks away from this project. So there's no release date or anything like that,

[2021-09-28 21:48] astromanish commented on #173
@saadq Okay! Thanks a lot

[2021-10-19 15:15] Annmayn opened #174 "Ability to add Socials"
You should be able to add socials at the top somewhere like github, linkedin and what not.

An icon for the socials and just the user identifier part displayed (eg: [linkedin icon] john-doe) would make it very elegant in my opinion.

[2021-10-27 09:19] MalonzaElkanah opened #177 "Develop an API"
I need a resume to be integrated to my portfolio using an API. I am also developing a job sites and job application bot which would need resume to be generated by the system.

An API that gets JSON file and Template Name from user and responds with a Resume in PDF/HTML would be helpful.

[2021-10-27 19:53] lukew3 opened #178 "Change order of array items"
**Is your feature request related to a problem? Please describe.**
It's annoying that you can't reorder your projects, skills, or work bullet points. You should be able to change the order of these because you might want to show certain projects or skills before others.

**Describe the solution you'd like**
One solution is that you could add an up arrow and/or down arrows beside list items to move

[2021-10-29 09:21] #178 closed, assigned to nobody

[2021-11-04 16:16] carun commented on #97
Hey @saadq, just touching base to see if there was any progress on this :)

[2021-11-05 02:04] saadq commented on #97
Hi @carun , if there are any updates/progress I'll be commenting on this issue. It's basically where I left it:

https://user-images.githubusercontent.com/5678694/140445052-294d2644-0721-4a0b-a741-9b52fa96016f.mp4

Right now, I've been working on a different project in my spare time, and hope to have that done within 1-2 weeks. Once that is launched, I will be getting back to working on Resumake.

[2021-11-05 23:09] arpit0891 commented on #148
We can create an exception point... If any invalid char is added then the character or the section is skipped

[2021-11-11 15:00] pranavsambyal opened #179 "Unified Install Script of all OS's"
**Problem**
I was trying to set this on a windows machine and faced different problems with it , Tried installing on Linux and everything started but errors were present in the server file with  led to some time wasted in troubleshooting.

**What I propose**
An simple script that one can run from the main folder which set thing up for both client and server and also install required dependencies f

[2021-11-15 09:32] saadq commented on #97
Published https://proposals.es now, so I think it's time to start working on Resumake again, probably from next weekend.

[2021-12-03 12:20] saadq commented on #132
This should be fixed now, please feel free to reopen if this issue is still happening.

[2021-12-03 12:20] #132 closed

[2021-12-03 12:22] saadq commented on #57
`v3` has switched over to TypeScript, closing this

[2021-12-03 12:22] #57 closed

[2021-12-03 12:24] #62 closed

[2021-12-03 12:51] #145 closed

[2021-12-03 12:51] #144 closed

[2021-12-15 07:38] ducaale commented on #179
I recently found this self-contained LaTeX engine called [tectonic](https://github.com/tectonic-typesetting/tectonic). I think using it instead of pdfLaTeX should make it easier for people to run resumake.io locally. It is not a drop-in replacement for pdfLaTeX e.g I couldn't make a resume from the 8th template unless I remove the usage of letterspacing from the `microtype` package.

[2021-12-18 01:03] saadq commented on #179
I have mostly setup v3 to be a server-side rendered website now using Next.js. Once I've got this setup fully done with the custom sections support migrated as well, I'm going to be tackling this issue to make lives easier for people.

@ducaale tectonic looks quite nice... template 8 is something i definitely don't want to drop support for since it's one of the more popular templates used by CS st

[2021-12-20 10:50] ducaale commented on #179
I have now checked all the templates with tectonic. So far, only template 8 and template 9 are incompatible with it. I can try to modify those templates so they can be compatible with tectonic. May I ask which branch you accept contributions from?

Wouldn't be easier to just install the tectonic binary instead of running docker?

[2021-12-23 03:59] JaxSoder commented on #97
@saadq is there any update on this? If not I would be willing to take over this

[2022-01-03 09:13] jabao opened #180 "Allow for bullet points for projects"
**Is your feature request related to a problem? Please describe.**
Currently the projects section only allows for one text blob. This is inconsistent with the work experience field, which uses bullets

**Describe the solution you'd like**
Ideally, I'd like the default to be bullets for the project section as well, but a custom section that mimics the project section with bullet support or an optio

[2022-01-03 09:18] jabao opened #181 "Spacing under Skills section for Template 1 is too close to the bar"
**Describe the bug**
The text under the Skills section is very close to the line denoting the section in template 1. The other sections like Education and Work Experience have more spacing.

**To Reproduce**
Steps to reproduce the behavior:
1. Create resume with template 1
2. Fill out skills section
3. Click make

**Expected behavior**
Consistent spacing between the text under the lines between se

[2022-01-05 09:57] Aditya-ds-1806 opened #182 "Website down?"
**Describe the bug**
[https://resumake.io/](https://resumake.io/) is down

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://downforeveryoneorjustme.com/resumake.io?proto=https
2. Alternatively, just go to https://resumake.io/

**Expected behavior**
Website must be accessible

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images

[2022-01-06 11:13] realshovanshah commented on #182
Yup, same for me. In a desperate need for this website rn.

[2022-01-06 17:59] SoulEater45 commented on #182
Same here

[2022-01-07 10:47] saadq commented on #182
Very sorry everyone! Been out of country for a couple of weeks so haven't been able to get a chance to fix it til now. Website should be back up now, please feel free to open an issue if you still encounter any problems.

[2022-01-07 10:47] #182 closed

[2022-01-23 22:52] gauravdhiman commented on #135
I think profile summary is something which most of the users would require. It will be good to have an option of custom section that can be placed anywhere. I like the custom section of [www.resume.com](www.resume.com), it's a free rich text section so one can use that for any purpose like summary or publications or interests etc. I am looking forward to v3 as that seems to be very promising. Than

[2022-01-23 22:54] gauravdhiman commented on #135
Is it somehow possible to have a custom section available quickly without much effort ? If you can make custom section work, I think that will address many use-cases.

[2022-02-04 03:05] JellyV opened #183 "Ability to increase font size on the website"
I love the website, but it is practically unusable as I decided to skip the "awards" and "projects" section, and as a result, whole resume takes barely more than a half page. Please add a feature to increase the font size so that the resume is readable, no matter how much content there is on it.

[2022-03-13 15:22] ottermouse opened #186 "Clicking 'Import JSON' does nothing"

[2022-03-16 17:47] gauravdhiman commented on #135
@saadq is there any update on when the custom section will be available on resumake.io
If you can document the steps for local setup that will be helpful. I would like to try v3 in local and see if I can use the custom section or not.

[2022-03-19 12:37] jeeva86 commented on #97
hey all, it's me again, coming back after 3 years haha, surprised that no progress on this still? I even tried to hack the json to put in a new section but that didn't work. I'm trying to use the awards section to highlight volunteer experience now...

[2022-03-19 18:47] powertrio77 commented on #40
I don't see it, and I've moved my mouse on many areas, looking for click-to-drag. Also, I've tried Chrome, Firefox, and Edge with clear cache and I can't get Skills to Reorder. I can reorder the main sections (work or skills, example, it's great!)
1. Is this available in the Work section, to reorder the new job to the top?
2. how to get the skills section to work, as seen in the video above?
Thank

[2022-04-08 13:27] be-rock opened #187 "Ignore Smart Quotes"
Hi,

Thanks for the great project.

**Is your feature request related to a problem? Please describe.**
When using either double or single quotes in json, the smarts are resolved to "smart" quotes in the rendered pdf file.

**Describe the solution you'd like**
Do not render quotes as smart quotes.

**Describe alternatives you've considered**
I am not aware of any alternatives but would love to hear

[2022-04-21 08:01] deduble commented on #97
Not trying to be too obnoxious but isn't there really a progress on this? Seems almost like a couple of lines of code.

[2022-04-22 06:19] saadq commented on #97
Hi all,

I'm going to address this and give an update for everyone tomorrow (dw, it's not a project cancellation announcement or something like that)

[2022-04-22 17:56] tdlab opened #188 "Ability to resort items"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
I believe the ability to drag and click, or otherwise have some way to re-order items in the list would be helpful. Imagine if I want to change Jobs X,Y,Z from 1,2,3, order to 1,3,2.

**Describe alternatives you've considered**
The only other solution, that I have seen, is to manually remov

[2022-04-23 14:22] deduble commented on #97
interesting the repo owner wrote something and then removed it

[2022-04-23 20:36] saadq commented on #97
Yeah sorry, 2 days ago I wrote "I'll try to give an update tomorrow" but then I realized I wouldn't be able to so I removed it. Going to give it now though :).

---

Just to give people context, when I initially created this website I was a student and had a lot of free time. I work fulltime now (as of ~3 years ago), and so instead of dedicating large amounts of a week to work on it, I had very sm

[2022-04-23 20:55] ducaale commented on #97
Thanks for the update @saadq. I will be looking forward to getting in touch with @devdrowsy soon.

I'm sad to hear this. I was hoping that the LaTex generation could be moved to the client-side by utilizing WebAssembly or converting the project into an electron app to reduce the server costs.

[2022-04-27 20:42] deduble commented on #97
@saadq I totally feel you about full-time work burdens and good luck on that. I think this is a great choice of you that you let someone else take it instead of very possibly "letting it die". Thanks for all your work on this repo.

[2022-05-15 19:47] radumol opened #189 "Education section is missing a field to specify the Minor in university"
**Is your feature request related to a problem? Please describe.**
No field for university Minor in the Education section

**Describe the solution you'd like**
Add Minor field in the Education section

[2022-05-29 13:25] ducaale commented on #179
**Update**: I am currently experimenting with tectonic (self-contained LaTex engine in rust) and SwiftLaTex (LaTex compiled to wasm) to simplify the local development setup. The latter (i.e., SwiftLaTex) should also allow moving the pdf generation to the client-side.

[2022-06-17 19:10] ducaale commented on #179
Oops, I didn't mean to close this issue. While replacing tectonic certainly simplifies the local setup required, we can do better and remove the required setup altogether by using SwiftLaTex (a wasm-powered LaTeX that should work in both the server and the client).

And because SwiftLaTex will allow us to move the PDF generation to the client-side, we get other benefits such as:
* Instant feedback

[2022-07-06 03:28] lukew3 commented on #127
Yeah, in some templates it defaults to adding `Misc:`. I found that using a `.` (period) is better than leaving it empty as it will show something that looks like `.:` instead.
![Screenshot from 2022-07-05 23-27-38](https://user-images.githubusercontent.com/47042841/177461883-80be7eca-ffaf-427e-b129-cd10db27b4af.png)

[2022-07-13 22:27] Jaron-S opened #194 "Skill details don't wrap if you add too many entries"

[2022-07-14 19:55] ottermouse commented on #186
Yes! I was using macOS when I ran into this issue.

On Thu, Jul 14, 2022 at 11:45 AM Mohamed Daahir ***@***.***>
wrote:

[2022-07-14 23:41] Jaron-S commented on #194
Template 1
![image](https://user-images.githubusercontent.com/42222027/179119009-a8b8bb2b-5c2e-45b5-820e-d09124aa05f3.png)

[2022-08-19 01:09] workrit opened #197 "ine break in project description"
How can i add bullet points in project description

[2022-08-21 12:31] ducaale commented on #197
@workrit I don't think that is supported at the moment. However, you can download the resume as a TEX file and make your edits in an online LaTeX editor such as https://www.overleaf.com.

[2022-08-21 12:32] workrit commented on #197
Thank you for your reply

On Sun, 21 Aug 2022, 18:01 Mohamed Daahir, ***@***.***> wrote:

[2022-08-21 15:07] #197 closed

[2022-09-01 05:10] adityag81 commented on #40
+1

Any planned update on this (and v3)? Other than this, fantastic stuff!

[2022-09-23 08:38] KarmaKami994 commented on #40
How fare are we with implementing the re-ordering the subelements within the sections ?

ive read through the comments and saw it was tested but not released yet ?

[2022-09-23 20:33] ducaale commented on #40
@KarmaKami994 It might take some time before v3 gets released with subelement re-ordering. In the meantime, you can export your resume as a JSON, do your edits and reimport it.

[2022-10-11 21:48] EmilioRoche commented on #194
Not sure if this would help in fixing the issue @ducaale but I believe using 'tabularx' over 'tabular' in the 'index.ts' file (line 163) in template1 would help define the width automatically so it wraps the sentence on a new line.

Here is a link with someone with that exact type of question https://stackoverflow.com/questions/63869543/wrap-sentences-in-tabular-environment (would need to import t